/* $Id: webform.css,v 1.1.2.2 2010/08/19 03:00:45 quicksketch Exp $ */

/**
 * Front-end styling for the display of webforms.
 */

input.webform-calendar {
  padding: 3px;
  vertical-align: top;
}
.webform-container-inline div {
  display: inline;
}
