/* $Id: webform-admin.css,v 1.1.2.2 2010/08/19 03:00:45 quicksketch Exp $ */

.webform-display-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.webform-display-item label {
  display: inline;
}
.webform-submission-navigation {
  text-align: right;
}
.webform-submission-next {
  margin-left: 20px;
}
.webform-component-select-table table {
  margin: 0;
}
.webform-component-select-table tr.selected td,
.webform-component-select-table tr.selected td.active {
  background: inherit;
  color: inherit;
}
.form-item .webform-component-select-table .description {
  font-size: inherit;
}
.form-item .webform-component-select-table input {
  width: 12px;
  height: 12px;
  margin: 0 2px 2px;
}
.webform-select-list-format table {
  border: 1px solid;
  width: auto;
  font-size: 90%;
}
.webform-select-list-format td,
.webform-select-list-format th {
  border: 1px solid;
}
tr.webform-pagebreak td {
  border-top: 2px dotted #999;
}
td.webform-pagebreak {
  font-weight: bold;
}
.webform-options-element thead {
  display: none;
}
.webform-options-element fieldset {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.webform-options-element fieldset legend {
  display: none;
}
.webform-checkbox {
  text-align: center;
  width: 40px;
}
.webform-container-inline div {
  display: inline;
}
.webform-default-value {
  color: #999;
}
.webform-results-per-page a.selected {
  font-weight: bold;
}
html.js fieldset.webform-position,
html.js div.webform-position {
  display: none;
}
tr.webform-add-form .tabledrag-changed {
  display: none;
}
#webform-components tr.webform-add-form {
  background-color: inherit;
}
