
body {
  margin:     0;
  padding:    0;
  width:      21cm;
  height:     29.7cm;
}

/* Printable area */
.invoice {
  position:   relative;
  top:        1cm;
  left:       1cm;
  width:      19cm;
  height:     27.6cm;

  font-size:      16px;
  font-family:    Arial;
}
