/**
 * @file
 * Custom CSS for the Twitter block display.
 */

.twitter_block_user {
  display: block;
}

#twitter_block_results li {
  list-style: none;
  border: 0px 0px 0px 0px;
  margin: 0;
  padding: 0;
}

.twitter_block_user img {
  float: left;
  height: 48px;
  width:  48px;
}
.twitter_block_user_name {
  display: block;
  padding-right: 5px;
  float: left;
  line-height: 48px;
}

p.tweet {
  display: block;
  float: left;
  clear: all;
}
