{#
/**
 * @file
 * Default theme implementation to display member badge.
 *
 * Available variables:
 * - is_member: A boolean idicating if the user is a member.
 * - is_profile_owner: A boolean indicating if the user viewing the badge is the
 *   owner of the account.
 * @ingroup themeable
 */
#}
{% if is_member %}
  <div>{{ 'Member'|t }}</div>
{% elseif is_organization %}
  <div>{{ 'Organization member'|t }}</div>
{% elseif is_profile_owner %}
  <div>
    <a href="/association/adhesion">{{ 'Become a member'|t }}</a>
  </div>
{% endif %}
