#page {
  margin-top: 10px;
}

/**
 * Standard blocks.
 */

#page #sidebar-left .block {
 margin: 0;
 margin-bottom: 1em;
}

#page #sidebar-left .block .title {
 background-color: #507EA1;
}

#page #sidebar-left .block .title .title-inner {
 background: url(images/block_title-r.gif) no-repeat 100% 0%;
}

#page #sidebar-left .block .title h2 {
 background: url(images/block_title-l.gif) no-repeat 0% 0%;
 font-size: 11px;
 color: white;
 text-align: left;
 display: block;
 padding: 5px 5px;
 padding-left: 10px;
 font-weight: normal;
 margin: 0;
}

#page #sidebar-left .block .content { 
 background: url(images/block_content-l.gif) no-repeat 0% 100%; 
 font-size: 11px;
}

#page #sidebar-left .block ul {
 line-height: normal;
}

#page #sidebar-left .block .title a { 
 color: white; 
 text-decoration: none; 
 display: block; 
 background: url(images/level_up.gif) 
 no-repeat 100% 50%; 
 margin-right: 6px; 
 padding-right: 10px;
}

#page #sidebar-left .block .content { 
 background: url(images/block_content-l.gif) no-repeat 0% 100%; 
 background-color: #BED6EB;
 font-size: 11px; 
}

#page #sidebar-left .block .content .content-inner { 
 background: url(images/block_content-r.gif) no-repeat 100% 100%; 
 padding: 2px 4px; 
 padding-bottom: 2px; 
}

#page #sidebar-left .block .content .menu {
 padding: 0px 10px;
}

#page #sidebar-left .block .content a { 
 color: #666666; 
 text-decoration: none; 
}

#page #sidebar-left .block .content a:hover { 
 color: #000000; 
 text-decoration: underline; 
}

#page #sidebar-left #user-login-form .item-list {
  text-align: left;
  margin-top: 0.5em;
}

#page #sidebar-left .help {
  color: #666666;
  font-size: 0.9em;
}

/**
 * Drupal download block.
 */

/*
#block-block-3 .title .title-inner { 
 background: url(images/block_title_download-r.gif) no-repeat 100% 0%; 
}
#block-block-3 .title h2 { 
 background: url(images/block_title_download-l.gif) no-repeat 0% 0%; 
 padding-left: 25px; 
}
#block-block-3 { 
}
#block-block-3 .content { 
 background: url(images/block_content_download-l.gif) no-repeat 0% 100%; 
 background-color: #d9ebbf; 
}
#block-block-3 .content .content-inner { 
background: url(images/block_content_download-r.gif) no-repeat 100% 100%; 
}
.block .drupal_download, .drupal_download ul, .drupal_download li {
 list-style: none;
 padding: 0;
 margin: 0;
}
.drupal_download a {
 display: block;
 padding-left: 28px; line-height: 28px; height: 28px;
 font-family: Verdana, Arial; font-size: 1.15em; text-decoration: none;
 font-weight: bold;
 color: #2c5800 !important;
}
.drupal_download a:hover {
 text-decoration: underline;
}
.drupal_download a.drupal_download_drupal { 
 background: url(images/drupal-download.gif) no-repeat 0px 1px; 
}
.drupal_download .contributed {
 background: white;
 margin-left: -3px; margin-right: -3px;
 padding: 3px;
 padding-left: 5px;
 margin-bottom: 10px;
}
.drupal_download .contributed a {
 font-size: 1em;
 line-height: 24px; height: 24px;
}
.drupal_download a.drupal_download_beta { 
 background: url(images/ico-beta.png) no-repeat 1px 1px; 
}
.drupal_download a.drupal_download_module { 
 background: url(images/ico-mod-low.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_module:hover { 
 background: url(images/ico-mod.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_theme { 
 background: url(images/ico-the-low.png) no-repeat 0px 1px;
}
.drupal_download a.drupal_download_theme:hover { 
 background: url(images/ico-the.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_traduction { 
 background: url(images/ico-tra-low.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_traduction:hover { 
 background: url(images/ico-tra.png) no-repeat 0px 1px; 
}
*/

/**
 * Footer.
 */


#footer {
 background-color: #F6F6F2;
 padding: 20px 0;
 margin-top: 10px;
}

#footer-region {
  margin: 0 auto;
}


#footer hr {
  border: none;
  border-top: solid 1px #cccccc;
}
#footer-message {
 font-size: 0.85em; 
 color: #666666; 
 padding-bottom: 4px; 
 text-align: center;
}
#footer a { 
 color: #444444; 
 border-bottom: 
 solid 1px #cccccc; 
 text-decoration: none; 
}
#footer a:hover { 
 border-bottom: solid 1px #222222; 
 color: #222222;  
}
#footer p { 
 margin-top: 0; 
 margin-bottom: 0.5em; 
}

#footer-menu ul.secondary-menu {
  
}
#footer-menu ul.links li {
 display: block;
 margin: 0;
 padding: 0;
 padding-left: 20px;
 padding-right: 0.25em;
}
#footer-menu ul.links li.menu-10 {
 background: url('images/rss.gif') no-repeat 0% 50%;
}
#footer-menu ul.links a {
 text-decoration: none;
 font-size: 11px; 
}
#footer-menu ul.links a:hover { 
 text-decoration: underline; 
 color: white; 
}


