/**
 * Site Header Region
 */
#site-header {
 background: url(images/top_background.gif) repeat-x 0% 100%;
 margin-bottom: 0px;
 height: 40px;
}

#header-region .region-header * {
  display: inline;
}

#header-region .block {
 float: right;
 margin: 0;
 padding: 0;
 list-style: none;
 height: 40px; 
 border-left: solid 1px #A6CFED; 
 border-right: solid 1px #395A73; 
}

#header-region .block .title {
 display: none;
}

#header-region .block li { 
 float: left;
 margin: 0; 
 padding: 0; 
}

#header-region .block a { 
 float: left; 
 display: block; 
 font-weight: normal; 
 height: 40px; 
 line-height: 40px; 
 padding: 0 10px; 
 border: none; 
 border-left: 
 solid 1px #395A73; 
 border-right: 
 solid 1px #A6CFED; 
 font-family: Verdana; 
 color: #E6EEF4; 
 text-decoration: none; 
 font-size: 11px; 
}

#header-region .block a:hover { 
 background-color: #65A0CC; 
 text-decoration: underline; 
 color: white; 
}

#header-region .block a.active { 
 color: white; 
}

/**
 * Site Sub-Header Region
 */
#site-subheader { 
 background: url(images/navigator_background.gif) repeat-x 0% 100%; 
 padding: 0px 2px; 
 line-height: normal;
}

/**
 * Search form.
 */
#subheader-region #block-search-form .title, #block-search-form label {
  display: none;
}

#subheader-region #block-search-form .content {
  float: right;
  height: 25px;
  margin-top: 3px;
}

#subheader-region #block-search-form .form-item {
  margin: 0;
}

#subheader-region #block-search-form .form-text {
  height: 16px;
  font-size: 12px;
  border: solid 1px #cccccc;
  margin: 0;
  padding: 0px 2px;
  padding-left: 16px;
  width: 198px; /* 220px - 16px - 2px - 2 x 2px */
  background: #ffffff url('images/search.png') no-repeat 2px 2px;

}
#subheader-region #block-search-form .form-submit {
  display: none;
}


