/**
 * Navbar styling.
 */
$mobile : "screen and (max-width: #{$screen-xs-max})";
$tablet : "screen and (min-width: #{$screen-sm-min})";
$normal : "screen and (min-width: #{$screen-md-min})";
$wide : "screen and (min-width: #{$screen-lg-min})";

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position : relative;

  &.navbar-is-static-top {
    margin-top : 0;
  }
  &.navbar-is-fixed-top {
    margin-top : ($navbar-height);
    @media #{$mobile} {
      margin-top : ($navbar-height) + 7;
    }
  }
  &.navbar-is-fixed-bottom {
    padding-bottom : ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    margin-top : ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position : fixed;
        }
        header {
          z-index : 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top : 39px;
      }
    }
  }
}

.navbar.container {
  @media #{$tablet} {
    max-width : (($container-sm));
  }
  @media #{$normal} {
    max-width : (($container-md));
  }
  @media #{$wide} {
    max-width : (($container-lg));
  }
}

// Drupal FR Style

body {
  .navbar.navbar-inverse.navbar-fixed-top {
    .navbar-header {
      //width : 100%;
      // Logo display
      a.logo {
        z-index       : 1031;
        margin-top    : 0;
        margin-bottom : 0;
        img {
          height : $navbar-height;
        }
      }

      // Main Menu
      nav.main-menu {
        font-family : 'Ubuntu', sans-serif;
        z-index     : 1030;
        ul.menu.nav.navbar-nav {
          li {
            a {
              &:hover,
              &:focus,
              &:active {
                font-weight : 700;
              }
            }
          }
          li.active a {
            font-weight : 700;
          }
        }
        @media #{$wide} {
          text-align : center;
          margin     : auto;
          width      : 80%;
          ul.menu.nav.navbar-nav {
            float : none;
            li {
              float   : none;
              display : inline-block;
            }
          }
        }
      }
    }
  }
}
