{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="row">
  <div class="user--register-form--wrapper medium-6 medium-offset-3 column">
    <form{{ attributes }}>
      {{ children }}
    </form>
  </div>
</div>

