// Chosen override
// ---------------

.chosen-container {

  margin-bottom: $form-spacing;
  padding:       0;

  .chosen-choices {
    margin-bottom:    0;
    background-image: none;
    box-shadow:       none;
  }
}
