// ==========================
// BLOCKS INDEX :
// -------------
// 1 - (HP) Meetup / Community
// 2 - (HP) Planet / News feed
// 3 - (F)  Who we are ?
// 4 - (F)  Login / Contact
// 5 - (F)  Sitemap
// 6 - (F)  Newsletter
// 7 - (F)  Follow us
// ==========================

// 1 - (HOMEPAGE) Meetup / Community
.block-meetup {
  padding:          $global-padding*3 0;
  background-color: lighten($drupal-blue-green-lightest, 10);

  &--title {
    .block-title {
      margin-bottom: 0;
    }
  }

  &--subtitle {
    margin-bottom: $global-margin*2;

    h3 {
      font-size: 1.75rem;
    }

    p {
      margin-bottom: $global-margin/4;
      color:         $dark-gray;
    }
  }

  &--list,
  &--map,
  &--discover {
    @include shadow();
    padding:          $global-padding;
    background-color: $white;

    h4 {
      font-size: 1.5rem;
    }
  }

  &--list {
    padding-right: 0;

    &--title {
      margin-bottom: $global-padding;
    }

    &--info-box {
      color:      $white;
      text-align: center;

      .info-box--day {
        padding:          $global-padding*2 $global-padding/2 0;
        background-color: $drupal-blue-dark;
        font-size:        2rem;
        line-height:      1.5rem;
      }

      .info-box--month {
        padding:          0 $global-padding/2 $global-padding;
        background-color: $drupal-blue-dark;
        font-size:        1.25rem;
      }

      .info-box--registered {
        padding:          $global-padding/4 $global-padding/2;
        background-color: $drupal-blue-lighter;
        font-size:        1rem;
      }
    }

    &--text-box {
      padding-left: $global-padding !important;

      h5 {
        margin-bottom: 0;
        font-size:     16px;
      }

      .text-box--list {
        @include clearfix;
        margin-bottom: $global-padding*3;

        dt {
          display:     block;
          float:       left;
          width:       50px;
          max-width:   10%;
          font-size:   16px;
          line-height: 20px;
          color:       $drupal-grey;
          text-align:  center;

          @include breakpoint(medium) {
            max-width: 5%;
          }
        }

        dd {
          display:    block;
          float:      left;
          width:      90%;
          min-height: 25px;

          @include breakpoint(medium) {
            width: 95%;
          }
        }
      }
    }

    &--cta {
      text-align: center;
    }
  }

  &--map {
    padding:          0;
    background-color: $drupal-blue-desaturate-light;

    @include breakpoint(medium) {
      min-height: 425px;
    }
  }

  &--discover {
    @include clearfix();

    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: center;
    align-content:   stretch;
    align-items:     stretch;
    margin-top:      20px;
    padding:         0;

    &--content {
      width:   85%;
      padding: $global-padding;

      > p {
        margin: 0;
      }
    }

    &--link {
      display:          block;
      width:            15%;
      background-color: $drupal-blue-dark;
      font-size:        2rem;
      line-height:      9rem;
      color:            $white;
      text-align:       center;

      &:hover,
      &:focus,
      &:active {
        background-color: $drupal-blue-light;
        color:            $white;
      }
    }
  }

}

// 2 - (HOMEPAGE) Planet / News feed
.block-planet {
  padding:          $global-padding*3 0;
  background-color: lighten($drupal-blue-green-lightest, 10);

  .title {
    margin:      1rem auto 3rem;
    line-height: 2.5rem;
    text-align:  center;

    small {
      font-size: 1.25rem;
      color:     $drupal-blue-dark;

      @include breakpoint(medium) {
        font-size: 1.75rem;
      }
    }
  }

  .more-link {
    text-align: center;

    > a {
      @include button(false, $secondary-color, $secondary-color, $secondary-color, 'hollow');

      margin-top:     $global-margin*3;
      padding:        $global-padding $global-padding*5;
      font-weight:    700;
      text-transform: uppercase;
    }
  }
}

// 3 - (FOOTER)  Who we are ?
.block-drupal-france-footer-who-are-we {
  p {
    padding-right: $global-padding;
  }
}

// 4 - (FOOTER)  Login / Contact
.block-drupal-france-footer-login,
.block-drupal-france-footer-contact {
  .button-footer {
    padding:     15px 40px;
    text-indent: 15px;

    i {
      position:    relative;
      display:     inline-block;
      text-indent: -40px;
    }
  }
}

// 5 - (FOOTER)  Sitemap
.block-drupal-france-footer-sitemap {
  .menu {
    flex-direction: column;

    > li {
      a {
        display: inline-block;
        padding: 5px;
        color:   $drupal-blue-desaturate-light;

        &:hover {
          background-color: transparent;
          color:            $white;
        }
      }
    }
  }
}

// 6 - (FOOTER)  Newsletter
.block-drupal-france-footer-newsletter {
  input {
    &[type='email'] {
      height:           40px;
      padding:          5px 10px;
      border:           0;
      background-color: $drupal-blue-desaturate;
      font-size:        18px;
      font-weight:      400;
      color:            $drupal-blue-dark;

      &:focus {
        background-color: $drupal-blue-desaturate-light;
        box-shadow:       none;
        color:            $drupal-blue-dark;
      }
    }

    &::placeholder {
      font-size:   16px;
      font-weight: 400;
      color:       $drupal-blue-desaturate-light;
    }
  }
}

// 7 - (FOOTER)  Follow us
.block-drupal-france-footer-follow-us {
  .menu {
    padding-top: 0;
    list-style:  none;
  }

  li {
    display: inline-block;
    padding: .25rem;

    a {
      display:    inline-block;
      width:      2rem;
      max-height: 2rem;
      font-size:  2rem;
      color:      $drupal-blue-desaturate-light;

      &:hover,
      &:active,
      &:focus {
        color: $white;
      }
    }
  }
}

//8- (REFERENCES) Facets
.block-facet--links {
  margin-bottom: $global-margin;
  padding-bottom: $global-padding;
  transform: translate(35%, 50%);

  @include breakpoint(medium only) {
    transform: translate(15%, 50%);
  }

  @include breakpoint(small only) {
    transform: translate(0%, 50%);
  }

  .block-title {
    display: none;
  }

}

.facets-widget-links {
  ul {
    display: flex;
    list-style-type: none;

    li {
      a {
        @include button(false, $secondary-color, $secondary-color, $secondary-color, 'hollow');
        margin: 0 1rem;
      }
    }

  }
}
