.social-contact {

  .row-items {
    margin-bottom: $global-margin;
    text-align: center;

    .item {
      padding: $global-padding $global-padding*3;

      &-icon {
        font-size: 80px;
        color:     $secondary-color;
      }

      &-title {
        color:      $primary-color;
      }

      &-text {
        font-size: small;
        color:     $dark-gray;
      }

      a {
        &:hover {
          .fa {
            color: $secondary-color;
          }
        }
      }

    }
  }
}
