// ==========================
// Local groups
// ==========================

.local-groups {
  padding-bottom: $global-padding;

  .map {
    height: 100%;
  }
}

.local-group {
  padding-bottom: $global-padding;

  .banner {
    position:            absolute;
    z-index:             -1;
    width:               100%;
    height:              300px;
    margin-top:          -4rem;
    background-position: center;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  .view-mode-full {
    margin-top:    270px;
    margin-bottom: $global-margin;
  }
}
