// ==========================
// Node Release
// ==========================

// Download Page

.release {
  margin-bottom: $global-margin;
  padding:       $global-padding 0;
  border-bottom: 1px solid $light-gray;

  .title {
    font-size:      2rem;
    font-weight:    700;
    line-height:    2rem;
    text-transform: capitalize;
  }

  &--date {
    color: $drupal-blue-dark;
  }

  &--content {
    padding-top:   $global-padding;
    padding-right: $global-padding * 5;
  }

  &--button {
    padding: $global-padding;
  }
}
