.paragraph--type--title-text-media {
  padding: $global-padding*2 0;

  .field-paragraph--field {
    &-title {
      line-height: 2.5rem;
      text-indent: -.2rem;
    }

    &-sub-title {
      font-size: 1.5rem;
    }

    &-text {
      margin-top: $global-margin;
    }

    &-call-to-action {
      margin-top: $global-margin*2;

      .field-items {
        display: flex;
      }

      .field-item {
        flex-direction: row;
        margin-right:   $global-margin;
      }
    }
  }
}

.banner-image {
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
