// ==========================
//  Planet
// ==========================

// View Node Elements
.planet-element {

  &--wrapper {
    margin-bottom: $global-margin*2;
  }

  &.teaser {
    @include shadow();

    @include breakpoint(small only) {
      margin-top: $global-margin;
    }

    background-color: $white;

    .planet-element--feature-image {
      border-bottom: thin solid $light-gray;
    }

    .planet-element--author {
      margin-top: -$global-padding*2;
      padding:    0 $global-padding*2;
    }

    .planet-element--title {
      padding:   0 $global-padding*2 $global-padding/2;
      font-size: 1.75rem;

      a {
        color: $drupal-blue-lighter;

        &:hover,
        &:focus,
        &:active {
          color: $drupal-blue-dark;
        }
      }
    }

    .planet-element--content {
      padding: 0 $global-padding*2 $global-padding*3;
      color:   $dark-gray;
    }
  }

  &.full {
    margin-top:    -$global-margin*2;
    margin-bottom: $global-margin*3;

    .planet-element--author {
      .user--picture {
        width:  100px;
        height: 100px;

        img {
          width:  100px;
          height: 100px;
        }
      }

      .user--realname {
        font-size: 2rem;
      }
    }

    .planet-element--title {
      padding:   $global-padding 0;
      font-size: 2rem;
    }

    .planet-element--content {
      font-size:   1.25rem;
      line-height: 1.75rem;
    }

    .planet-element--tags {
      .field-wrapper {
        @include flex-grid-row();

        .field-label {
          margin-right:  $global-margin/2;
          padding-right: $global-padding/2;
          font-size:     1.25rem;
          font-weight:   600;

          &::after {
            content: ':';
          }
        }

        .field-items {
          display:   flex;
          flex-flow: row wrap;

          .field-item {
            padding-left: $global-padding/2;
            font-size:    1.25rem;
          }
        }
      }
    }
  }
}

// Feed Element
.planet-feed {
  &--element {
    padding:     $global-padding;
    border-left: 4px solid $drupal-orange;
  }

  &--header {
    padding-top:    $global-padding*2;
    padding-bottom: $global-padding*2;
  }

  &--site-name {
    a {
      font-size: 1.75rem;
      color:     get-color(primary);

      &:hover,
      &:active,
      &:focus {
        color: get-color(secondary);
      }
    }
  }

  &--feed-link {
    a {
      color: $dark-gray;

      &:hover,
      &:active,
      &:focus {
        color: $black;
      }
    }
  }
}

