// SITE NAME
// =====================
.site-name {
  > a {
    display: block;
  }
}

// TOPBAR EXTRA ELEMENTS
// =====================

/* Search button
   ============= */

.header--search-block {
  .button--search {
    height:        70px;
    margin-bottom: 0;
    padding:       .85rem 1rem;
    font-size:     1.3rem !important;
    line-height:   40px;

    &:hover,
    &:focus {
      background-color: $drupal-blue-light;
      color:            $white !important;
    }
  }
}

/* Download Button
   =============== */

/* User Account Menu Button
   ======================== */
.button--user-account {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

