// TOPBAR EXTRA ELEMENTS
// =====================

/* Search button
   ============= */

.header--search-block {
  .button--search {
    padding:   .85rem 1rem;
    font-size: 1.2rem !important;

    &:hover,
    &:focus {
      color: $white !important;
    }
  }
}

/* Download Button
   =============== */

/* User Account Menu Button
   ======================== */
.button--user-account {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}

