// ==========================
// User Forms
// ==========================

// Log in
//--------
.user--login-form,
.user--pass,
.user--register-form {
  &--wrapper {
    padding-top:    $global-padding;
    padding-bottom: $global-padding;

    @include breakpoint(medium) {
      @include shadow();
      margin-top:    $global-margin * 2;
      margin-bottom: $global-margin * 2;
    }
  }
}

// Create an account
//-------------------

// Reset your password
//---------------------

// ==========================
// User Display
// ==========================

.user {
  &--compact {
    @include clearfix();

    position:      static;
    margin-bottom: $global-margin;

    .user--picture {
      float:            left;
      width:            65px;
      height:           65px;
      background-color: $white;

      a {
        display:       block;
        width:         100%;
        height:        100%;
        border:        thin solid $light-gray;
        border-radius: 5px;

        > img {
          filter:        grayscale(50%);
          border:        5px solid $white;
          border-radius: 5px;
        }

        &:hover,
        &:focus,
        &:active {

          > img {
            filter: grayscale(0%);
            border: 2px solid $white;
          }
        }
      }
    }

    .user--realname {
      display:     block;
      float:       left;
      margin-top:  $global-margin*3;
      margin-left: $global-padding;
      font-style:  italic;
      color:       $dark-gray;
    }
  }

  &--full {
    .user--banner {
      position:            absolute;
      z-index:             -1;
      width:               100%;
      height:              300px;
      margin-top:          -$global-margin*4;

      background-position: center;
      background-repeat:   no-repeat;
      background-size:     cover;
    }

    .user--head {
      margin-top:    200px;
      margin-bottom: $global-margin;
    }

    .field-user--user-picture {
      img {
        border:        5px solid $white;
        border-radius: $global-radius;
      }
    }

    .user--infos {
      margin-top: 60px;
    }

    .user--realname--title {
      font-size: 3rem;
    }

    .field-user--field-user-slogan {
      .field-item {
        margin-top: -$global-margin;
        font-size:  1.5rem;
      }
    }

    .user--social-links {
      display: inline-block;

      .user--social-link {
        display:      inline;
        margin-right: $global-margin;
        font-size:    1.1rem;

        i {
          display:      inline-block;
          margin-right: $global-margin/4;
          color:        $dark-gray;
        }
      }
    }

  }
}
