{#
    - link_release : Link of the description release page (ex: https://www.drupal.org/project/drupal/releases/8.2.6)
    - version_release : version of the release (ex: 8.x.x)
#}

<div class="last-stable-release">
    <a href="{{ link_release }}" title="{{ version_release }}">
        {{ version_release }}
    </a>
</div>