{#
/**
 * @file
 * Default theme implementation to meetup page.
 *
 * Available variables:
 * - title: The title of the page.
 * - events_list: A renderable array of meetup events.
 * - map: The markup  for the map.
 *
 * @ingroup themeable
 */
#}
<h1>
  {{ title }}
</h1>

<div class="col-md-8">
  {{ events_list }}
</div>

<div class="col-md-4">
  {{ map }}
</div>
