div.tweets-pulled-listing ul {
  list-style: none;
}

div.tweets-pulled-listing div.tweet-authorphoto {
  margin: 0 5px 0 0;
  float: left;
}

div.tweets-pulled-listing div.tweet-authorphoto img {
  max-height: 40px;
  max-width: 40px;
}

div.tweets-pulled-listing .tweet-author a {
  font-weight: bold;
}

div.tweets-pulled-listing  div.tweet-divider {
  clear: left;
  border-bottom: 1px solid #efefef;
  margin: 5px 0 5px 0;
}