// ==========================
// FAQ
// ==========================

.faq {
  background-color: $light-gray;

  &--element {
    @include callout();

    border:           1px solid $light-gray;
    border-left:      6px solid get-color(primary);
    background-color: $white;

    h2 {
      @include accordion-title();
      font-size: 1.75rem;

    }

    .field-name-field-text {
      @include accordion-content();
    }
  }

  &--block {
    padding:          $global-padding * 2 $global-padding;
    border-color:     $drupal-grey;
    background-color: $drupal-grey-light;
    text-align:       center;

    > h2 {
      font-size: 1.5rem;
    }

    &--forum-topic {
      margin-top:       $global-margin;
      padding:          $global-padding;
      border-color:     $drupal-grey;
      background-color: $white;
      text-align:       left;

      > h3 {
        @include separator(left);
        font-size:  1.25rem;
        text-align: left;
      }
    }
  }
}
