// ==========================
// Generic Forms
// ==========================

form {
  label {
    font-size: 1.25rem;
    color:     get-color(primary);
  }

  .description {
    margin-top:    -$global-margin;
    margin-bottom: $global-margin;
    font-style:    italic;
    color:         $drupal-grey;
  }
}
