.recherche {
  padding: $global-padding*2;

  h2 {
    &.block-title {
      font-size: 24px;
    }
  }
}

.search_result {
  .node-title {
    margin-top:  $global-margin;
  }

  .submitted {
    font-style:  italic;
    color:       $dark-gray;
  }

  @include breakpoint(medium) {
    .submitted {
      display:     block;
      float:       right;
      margin-top:  $global-margin*3;
      margin-left: $global-padding;

    }
  }
}
