// ==========================
// Offer page
// ==========================

.offer {
  .criteria {
    .field {
      display:        inline-block;
      padding-bottom: $global-padding;
    }

    .field-items {
      &::before {
        content: '\/ ';
      }

      .field-item {
        display: inline-block;
      }
    }
  }

  .callout {
    margin: $global-margin*3 0;
  }
}

.offer-page {
  .criteria {
    column-count: 2;

    .field-label {
      display: inline-block;

      &::before {
        margin-right: $global-margin/2;
        content:      '\f00c ';
        font:         normal normal normal 14px/1 FontAwesome;
        color:        $drupal-blue-dark;
      }

      &::after {
        content: ' : ';
      }
    }

    .field-items {
      display: inline-block;
    }
  }

  // EVA overload
  .view-eva {
    .section-title {
      text-align: left;
    }

    // Organization display
    table {
      margin-bottom: $global-margin;

      @include breakpoint(medium) {
        width: 66%;
      }
      @include breakpoint(large) {
        width: 50%;
      }
    }
  }

}
