// ==========================
// VIEWS
// -------------
// 1 - References
// X - Infinite Scroll
// X - RSS Feed Icon
// ==========================

.view--references {

  &--homepage {
    margin-top:    $global-margin;
    margin-bottom: $global-margin*2;

    .title {
      padding:    $global-padding*2 0;
      text-align: center;
    }
  }

  &--element {
    margin-top: 1.15385rem;
    overflow:   hidden;

    img {
      max-height: 150px;
    }
  }

  &--link {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-content:   stretch;
    align-items:     stretch;

    margin-top:      1.15385rem;

    border:          1px solid $drupal-grey-light;
    font-size:       1.2rem;
    font-weight:     700;
    color:           $drupal-blue-dark;
    text-transform:  uppercase;

    > small {
      font-size: 80%;
    }

    &--text {
      display:         flex;
      flex-direction:  column;
      flex-wrap:       nowrap;
      justify-content: center;
      align-content:   stretch;
      align-items:     center;

      width:           calc(80%);
      height:          150px;
      text-align:      center;
    }

    &--arrow {
      display:          flex;
      flex-direction:   column;
      flex-wrap:        nowrap;
      justify-content:  center;
      align-content:    stretch;
      align-items:      center;

      width:            20%;
      height:           150px;
      background-color: $drupal-blue-dark;
      font-size:        2rem;
      line-height:      9rem;
      color:            $white;
      text-align:       center;

    }

    // Link Pseudo classes
    &:hover,
    &:focus,
    &:active {
      border-color: $drupal-blue-light;

      .view--references--link--text {
        color: $drupal-blue-light;
      }

      .view--references--link--arrow {
        background-color: $drupal-blue-light;
        color:            $white;
      }
    }
  }
}

// X - Infinite Scroll
.pager {
  &__item {
    margin-top: $global-margin;
    list-style: none;
  }
}

// RSS Feed Icon
.feed-icon {
  .fa-rss-square {
    margin:    $global-margin 0;
    font-size: 2rem;
    color:     $drupal-orange;
  }
}

