/* $Id: active_tags.css,v 1.1.2.1 2008/09/12 17:05:03 darrenmuk Exp $ */

.tag-entry {
  margin:5px 0px;
}

.tag-tag {
  background-color:#eee;
  padding:2px;
  display:inline;
  margin:2px;
}

.remove-tag {
  color:red;
  padding-left:5px;
  cursor:pointer;
}

.tag-popular {
  background-color:#eee;
  color:#999;
  padding:2px;
  display:inline;
  margin:2px;
}
.add-tag-popular {
  color:green;
  padding-left:5px;
  cursor:pointer;
}