{#
/**
 * @file localize_statistics.html.twig
 * Default theme implementation to present Statistique de la traduction data.
 *
 * This template is used when viewing Statistique de la traduction pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_localize_statistics()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('localize_statistics') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
