.block {
  margin-bottom: 2em;
}
.block .block-title {
  margin-bottom: 0;
}
.block .content li {
  background: url(../images/marker-2.gif) 0 8px no-repeat;
  color: #42494c;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 16px;
  -moz-transition: background-position 0.1s linear;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.block .content li:hover {
  background-position: 3px 8px;
}
.block a {
  /*color: #00c3dd;*/
  color: #036ba5;
}
.block .btn-link {
  color: #fff;
}
.block .more-link {
  color: #fff;
  display: block;
  margin-top: 0.5em;
  text-align: left;
}
.block .more-link a {
  color:#fff;
}
.block ul.contextual-links li {
  background: none;
  padding: 0;
}

/** ******************************************************* **/
/** Header bottom                                           **/
/** ******************************************************* **/
#block-dfr-blocks-download {
  margin-bottom: 0;
  text-align: center;
}
#block-dfr-blocks-download .block-title {
  color: #0190bb;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 1em 0;
  text-shadow:0 1px 0 #fff;
}
#block-dfr-blocks-download .content {
  padding: 1em 0;
}
#block-dfr-blocks-download .content .btn-link {
  margin: 0 1em;
}
#block-dfr-blocks-download .content ul {
  margin: 0;
}
#block-dfr-blocks-download .content li {
  background: none;
  display: inline-block;
  padding: 0;
  width: 49%;
}

@media screen and (min-width:768px) {
  #block-dfr-blocks-download .block-title,
  #block-dfr-blocks-download .content {
    display: inline-block;
    vertical-align: middle;
  }
  #block-dfr-blocks-download .block-title {
    /*background: url(../images/spacer-2.png) 100% 0 repeat-y;*/
    height: 70px;
    line-height: 70px;
    padding: 0;
    width: 30%;
  }
  #block-dfr-blocks-download .content {
    margin-left: 3%;
    padding: 0;
    width: 66%;
  }
}
/** ******************************************************* **/
/** Content top                                             **/
/** ******************************************************* **/
.region-content-top .block-dfr-blocks {
  background: #036ba5;
  background-image: -moz-radial-gradient(50% 10%, circle cover, #01a5ca, #036ba5 70%);
  background-image: -webkit-radial-gradient(50% 10%, circle cover, #01a5ca, #036ba5 70%);
  background-image: -o-radial-gradient(50% 10%, circle cover, #01a5ca, #036ba5 70%);
  background-image: -ms-radial-gradient(50% 10%, circle cover, #01a5ca, #036ba5 70%);
  background-image: radial-gradient(50% 10%, circle cover, #01a5ca, #036ba5 70%);
  background-clip:padding-box;
  -moz-background-clip:padding-box;
  -webkit-background-clip:padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1em 0;
  padding: 1em 0 3.5em 0;
  position: relative;
}
.region-content-top .block-block {
  margin: 1em 0;
  width: 100%;
}
.region-content-top .block-block img {
  width: 100%;
}

.region-content-top #block-block-12 {
  display: none;
}

.region-content-top .block-dfr-blocks .block-title {
  /*background: url(../images/spacer-1.png) 0 100% repeat-x;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 22px;
  /*margin-bottom: 1em;*/
  padding: 0 0 1em 1em;
  text-shadow: 0 1px 0 #000;
}
.region-content-top ..block-dfr-blocks .content {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 1em 2em 0 1em;
}
.region-content-top ..block-dfr-blocks .btn-link {
  position: absolute;
  bottom: 1em;
}
.region-content-top ..block-dfr-blocks .btn-link:hover {
  background: #fff;
  color: #001D26;
}

@media screen and (min-width:640px) {
  .region-content-top .block-block {
    margin: 2em 0 1em 5%;
    vertical-align: top;
    width: 60%;
  }
  .region-content-top .block-dfr-blocks {
    display: inline-block;
    min-height: 200px;
    margin: 2em 2.5% 1em;
    vertical-align: top;
    width: 30%;
  }
  .region-content-top .block-1 {
    margin-left: 0;
  }
  .region-content-top .block-3 {
    margin-right: 0;
  }
  .region-content-top #block-block-13 {
    display: none;
  }
  .region-content-top #block-block-12 {
    display: inline-block;
  }
}

/** ******************************************************* **/
/** Content                                                 **/
/** ******************************************************* **/

/* Homepage */
#block-views-planete-block-1 {
  border-top: 1px solid #e4eaef;
  padding-top: 2em;
}
#block-drupalfr-events-next-events,
#block-views-planete-block-1 {
  position: relative;
}

#block-drupalfr-events-next-events .content,
#block-views-planete-block-1 .content {
  padding-top: 1em;
}
.block .drupalfr-event-details,
#block-views-planete-block-1 .views-row {
  padding-bottom: 0.5em;
}

.block .drupalfr-event-teaser p {
  padding-bottom: 0;
}
.block .drupalfr-event-teaser .event-name,
#block-views-planete-block-1 .views-field-title span {
  background:url(../images/marker-2.gif) 0 8px no-repeat;
  display: inline-block;
  padding:0 0 0 16px;
  -moz-transition: background-position 0.1s linear;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.block .drupalfr-event-teaser .event-name:hover,
#block-views-planete-block-1 .views-field-title span:hover {
  background-position: 3px 8px;
}

.block .drupalfr-event-teaser .event-date,
#block-views-planete-block-1 .views-field-created {
  color: #898989;
  padding: 0 0 0 16px;
}
.block .drupalfr-event-teaser .event-attendees {
  color: #898989;
}
#block-drupalfr-events-next-events .more-link,
#block-views-planete-block-1 .more-link {
  color: #444;
  font-weight: bold;
  /*margin-right: 1em;*/
  position: absolute;
  right: 1em;
  bottom: 0;
  /*text-align: right;*/
}
#block-views-planete-block-1 .more-link a {
  color: #444;
}
#block-drupalfr-events-next-events .more-link:before,
#block-views-planete-block-1 .more-link a:before {
  content: "» ";
}

@media screen and (min-width:768px) {
  #block-drupalfr-events-next-events,
  #block-views-planete-block-1 {
    display: inline-block;
    margin-right: 9%;
    min-height: 400px;
    vertical-align: top;
    width: 45%;
  }
  #block-views-planete-block-1 {
    border-top: 0;
    margin-right: 0;
    padding-top: 0;
  }
}

#block-views-drupalfr-block-1 {
  border-top: 1px solid #dee6ee;
  margin-top: 1em;
  padding-top: 2em;
  position: relative;
}
#block-views-drupalfr-block-1 .feed-icon {
  position: absolute;
  top: 1.2em;
  right: 1em;
}
#block-views-drupalfr-block-1 .block-title {
  padding: 0 0 1em 0;
}
#block-views-drupalfr-block-1 .node {
  margin-bottom: 2em;
}
#block-views-drupalfr-block-1 .node h3 {
  margin-bottom: 0;
}
#block-views-drupalfr-block-1 .node .submitted {
  padding-bottom: 0.5em;
}
#block-views-drupalfr-block-1 .more-link {
  color: #444;
  font-weight: bold;
  margin-right: 1em;
  text-align: right;
}
#block-views-drupalfr-block-1 .more-link a {
  color: #444;
}
#block-views-drupalfr-block-1 .more-link a:before {
  content: "» ";
}

/** ******************************************************* **/
/** Sidebar                                                 **/
/** ******************************************************* **/
.region-sidebar-first .block {
  border-top: 1px solid #e4eaef;
  margin: 2em 0 0 0;
  padding: 2em 0 0 0;
}
/*.region-sidebar-first .block.block-1 {border-top:0;padding-top:0;}*/

@media screen and (min-width: 768px) {
  .region-sidebar-first .block {
    border-top: 0;
    margin: 0 0 2em 0;
    padding: 0;
  }
}

/* block-search-form */
#drupalfr-search-form .form-item,
#drupalfr-search-form .form-actions {
  display: inline-block;
  vertical-align: middle;
}
#drupalfr-search-form .form-item {
  margin: 0;
  width: 82%;
}
#drupalfr-search-form .form-item  input[type="search"] {
  height: 1.2em;
  width: 90%;
  z-index: 1;
}
#drupalfr-search-form .form-actions {
  font-size: 0;
  line-height: 0;
  padding: 1px 0 0;
  width: 15%;
}
#drupalfr-search-form .form-submit {
  background: url(../images/search.png) no-repeat 0 0;
  border: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  height: 33px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  width: 32px;
  z-index: 1;
}
#drupalfr-search-form input[type="submit"]:hover {
  background-position:0 100%;
}


#block-user-login {}
#block-user-login .form-item {
  margin: 0.5em 0;
}
#block-user-login .form-item label,
#block-user-login .form-item input {
  display: inline-block;
  vertical-align: middle;
  min-width: 49%;
}
#block-user-login .form-item label {}
#block-user-login .form-item input {}

#twitter_block_results {}
#twitter_block_results p.tweet {
  display: inline-block;
  float: none;
}

#block-dfr-blocks-twitter-asso {}
.block .content .tweets-pulled-listing ul li {
  background: none;
  padding: 5px 0;
}

.tweet {}
.tweet .profile_image {
  float: left;
  margin: 0.25em 0.25em;
  max-width: 2.5em;
}
.tweet .profile_name {
  font-weight: bold;
}
.tweet .profile_name:after {
  content: ":";
}
.block li .tweet span a {
  color: #444;
}
.block li .tweet span a:hover {
  /*color: #00c3dd;*/
  color: #036ba5;
  text-decoration: none;
}

#block-dfr-emploi-creer-offre {
  text-align: center;
}
#block-dfr-emploi-creer-offre .btn-link {
  display: block;
  font-size: 28px;
  line-height: 1.3em;
  padding: 1em 0;
}
#block-dfr-emploi-creer-offre p {
  color: #898989;
  font-size: 12px;
  margin-top: 1em;
}

/** ******************************************************* **/
/** Footer Top                                              **/
/** ******************************************************* **/
.region-footer-top .block {}
.region-footer-top .block-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 1em;
  text-shadow: 0 1px 0 #000;
}

#block-dfr-blocks-about-us,
#block-views-offres-block-1 {
  padding: 0 3%;
}
#block-dfr-blocks-about-us {}
#block-views-offres-block-1 {
  margin-bottom: 0;
  position: relative;
}
#block-views-offres-block-1 .views-row {
  background:url(../images/clients-bg.png) 0 0 repeat;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 13px;
  margin-bottom: 1em;
  padding: 1em;
}
#block-views-offres-block-1 .views-row:first-child {
  margin-left: 0;
}
#block-views-offres-block-1 .views-row > span {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=6);
}

#block-views-offres-block-1 .views-field-title {
  border-bottom: 1px solid rgba(200, 200, 200, 0.6);
  font-size: 16px;
}
#block-views-offres-block-1 .views-field-title a {
  color:#fff;
}
#block-views-offres-block-1 .views-field-title a:hover {
  color: #fff;
  text-decoration: none;
}

#block-views-offres-block-1 .view-empty a {
  color: #fff;
  text-decoration: underline;
}
#block-views-offres-block-1 .more-link a:before {
  content:"» ";
}

#block-views-offres-block-1 .nav-links {
  display: none;
}

#block-views-offres-block-1 .view-footer {}
#block-views-offres-block-1 .view-footer .btn-link {
  margin-bottom: 1em;
}

@media screen and (min-width:480px) {
  #block-views-offres-block-1 .content {
    overflow: hidden;
  }
  #block-views-offres-block-1 .view-content {
    width: 300%; /* 100% * 3 */
  }
  #block-views-offres-block-1 .views-row {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1%; /* 3% / 3 */
    min-height: 10em;
    vertical-align: top;
    width: 10%; /* 30% / 3 */
  }
  #block-views-offres-block-1 .nav-links {
    display: block;
    float: right;
    margin-right: 3%;
  }
  #block-views-offres-block-1 .nav {
    background: url(../images/arrows.png);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  #block-views-offres-block-1 .nav-prev {
    background-position: 0 -30px;
    margin-right: 5px;
  }
  #block-views-offres-block-1 .nav-prev:hover {
    background-position: 0 0;
  }
  #block-views-offres-block-1 .nav-prev.inactive:hover {
    background-position: 0 -30px;
  }
  #block-views-offres-block-1 .nav-next {
    background-position: 30px 0;
  }
  #block-views-offres-block-1 .nav-next:hover {
    background-position: -30px -30px;
  }
  #block-views-offres-block-1 .nav-next.inactive:hover {
    background-position: 30px 0;
  }
  #block-views-offres-block-1 .nav.inactive {
    cursor: default;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=5);
  }
  #block-views-offres-block-1 .view-footer {
    margin: 1em 3%;
    text-align: right;
  }
  #block-views-offres-block-1 .view-footer .btn-link {
    margin-left: 1em;
  }

}

@media screen and (min-width:900px) {
  #block-dfr-blocks-about-us,
  #block-views-offres-block-1 {
    padding: 0;
  }
  #block-dfr-blocks-about-us {
    display: inline-block;
    padding-right: 3%;
    vertical-align: top;
    width: 30%;
  }
  #block-views-offres-block-1 {
    display: inline-block;
    vertical-align: top;
    width: 69%;
  }
  #block-views-offres-block-1 .views-row {
    min-height: 8em;
  }
  #block-views-offres-block-1 .more-link {
    position: absolute;
    top: -0.5em;
    right: 3%;
  }
}

@media screen and (min-width:1280px) {
  #block-views-offres-block-1 .views-row {
    min-height: 0;
  }
}

/** ******************************************************* **/
/** Footer                                                  **/
/** ******************************************************* **/
/* Copyright */
#block-block-10 {
  margin-bottom: 0;
}
#block-block-10 p {
  padding: 0;
}

/* block-views-how-it-works-block */
.view-how-it-works .view-content {
  margin-bottom: 25px;
}
.view-how-it-works .view-content .views-row {
  float: left;
  margin-left: 20px;
  width: 180px;
}
.view-how-it-works .view-content .views-row:first-child {margin:0;}
.view-how-it-works .view-content .views-row .views-field-body {
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid #e4eaef;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
}
.view-how-it-works .view-content .views-row .views-field-body .img-border a,
.view-how-it-works .view-content .views-row .views-field-body a img {
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: px;
  -webkit-border-radius: 5px;
}
.view-how-it-works .view-content .views-row .views-field-body .img-border a {
  background: url(../images/ie-fix.png) 0 0 repeat;
  border: 4px solid #fff;
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
.view-how-it-works .view-content .views-row .views-field-body .img-border a:hover {
  opacity:0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.view-how-it-works .view-footer {
  width: 530px;
}
/* End block-views-how-it-works-block */

/* block-views-features-overview-block */
.view-features-overview .view-content .views-row {
  margin-top: 2px;
}
.view-features-overview .view-content .views-row:first-child {
  margin: 0;
}
.view-features-overview .view-content .views-row .views-field-title {
  background: url(../images/list-bg.gif) 0 0 repeat-x #f6fafd;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border-top: 0;
  border-right: 1px solid #f0f5f9;
  border-bottom: 1px solid #e4ebf2;
  border-left: 1px solid #f0f5f9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.view-features-overview .view-content .views-row .views-field-title:hover {background:#00b2d7;}
.view-features-overview .view-content .views-row .views-field-title a {
  background: url(../images/marker-1.png) 100% -104px no-repeat;
  /*color:#00c3dd;*/
  color: #036ba5;
  display: block;
  padding: 20px 0 20px 21px;
  text-decoration: none;
}
.view-features-overview .view-content .views-row .views-field-title:hover a {
  background-position: 100% 18px;
  color: #fff;
}
/* End block-views-features-overview-block */

/* block-views-services-block */
#block-views-services-block {
  padding-top: 30px;
}
.view-services .view-content {
  overflow: hidden;
  width: 100%;
}
.view-services .view-content .views-row {
  background: url(../images/services-bg.png) 0 0 no-repeat #036ba5;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  float:left;
  min-height: 188px;
  margin-left: 20px;
  padding: 22px 0 10px;
  width: 300px;
}
.view-services .view-content .views-row:first-child {
  margin: 0;
}
.view-services .view-content .views-row .views-field-title {
  background: url(../images/spacer-1.png) 0 100% repeat-x;
  color: #fff;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 0 0 15px 20px;
  text-shadow: 0 1px 0 #000;
}
.view-services .view-content .views-row .views-field-body {
  color: #fff;
  padding: 0 40px 0 24px;
}
.view-services .view-content .views-row .views-field-view-node {
  padding-left: 23px;
}
.view-services .view-content .views-row .views-field-title .field-content {
  display: inline-block;
  padding-left: 40px;
}
.view-services .view-content .views-row-1 .views-field-title .field-content {
  background: url(../images/pict-1.png) 0 0 no-repeat;
}
.view-services .view-content .views-row-2 .views-field-title .field-content {
  background: url(../images/pict-2.png) 0 0 no-repeat;
}
.view-services .view-content .views-row-3 .views-field-title .field-content {
  background: url(../images/pict-3.png) 0 0 no-repeat;
}
/* End block-views-services-block */

/* block-views-article-block */
#block-views-article-block {
  float: left;
  margin-right: 65px;
  padding: 30px 0 0 20px;
  width: 235px;
}
/* End block-views-article-block */

/* block-views-our-clients-block */
#block-views-our-clients-block {
  float: left;
  padding-top: 30px;
  width: 583px;
}
.view-our-clients .view-content .jcarousel-skin-default {
  text-align: left;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal {
  height: 133px;
  margin: 0;
  padding: 5px 0 0;
  width: 583px;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal {
  width: 583px;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel li {
  background: none;
  border: 0;
  font-size: 0;
  height: 133px !important;
  line-height: 0;
  margin: 0 17px 0 0 !important;
  padding: 0;
  width: 183px !important;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel li a {
  background: url(../images/clients-bg.png) 0 0 repeat;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel li a:hover {
  background: #000;
}
/* End block-views-our-clients-block */

/* block-views-recent-posts-block */
.view-recent-posts .view-content .views-row {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}
.view-recent-posts .view-content .views-row:first-child {margin:0;}
.view-recent-posts .view-content .views-row .views-field-field-blog-image {
  float: left;
  margin-right: 20px;
}
.view-recent-posts .view-content .views-row .views-field-field-blog-image .field-content {
  background: #fff;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border:1px solid #e4eaef;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px;
}
.view-recent-posts .view-content .views-row .views-field-body-1 {
  overflow: hidden;
}
.view-recent-posts .view-content .views-row .views-field-body-1 .text-title {
  font-weight: 700;
}
/* End block-views-recent-posts-block */

/* feature */
#block-block-7 {
  padding-top: 30px;
}
.recent-news {
  overflow: hidden;
  width: 100%;
}
.recent-news .item {
  float: left;
  margin-left: 40px;
  overflow: hidden;
  width: 280px;
}
.recent-news .item:first-child {
  margin: 0;
}
.recent-news .item .block-date {
  color: #001c28;
  float: left;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 38px;
}
.recent-news .item .block-date span {
  background: url(../images/date-bg.png) 0 0 no-repeat;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 24px;
  line-height: 20px;
  padding: 18px 0 0;
  width: 38px;
}
/* End feature */
