
.block {
  margin-bottom:2em;
}
.block .block-title {margin-bottom: 0;}

.block .content li {
  color:#42494c;
  padding:0 0 0 16px;
  margin:0;
  list-style-image:none;
  list-style-type:none;
  background:url(../images/marker-2.gif) 0 8px no-repeat;
  transition:background-position 0.1s linear;
  -moz-transition:background-position 0.1s linear;
  -webkit-transition:background-position 0.1s linear;
}
.block .content li:hover {
  background-position:3px 8px;
}
.block a {
  color:#00c3dd;
}
.block .btn-link {color:#fff;}

.block .more-link {
  color:#fff;
  display:block;
  text-align:left;
  margin-top:0.5em;
}
.block .more-link a {color:#fff;}

.block ul.contextual-links li {background:none;padding:0;}


/** ******************************************************* **/
/** Header bottom                                           **/
/** ******************************************************* **/
#block-dfr-blocks-download {
  margin-bottom:0;
  text-align: center;
}
#block-dfr-blocks-download .block-title {
  padding:1em 0;
  color:#0190bb;
  font-size:18px;
  font-weight: bold;
  letter-spacing:-1px;
  text-shadow:0 1px 0 #fff;
}
#block-dfr-blocks-download .content {padding:1em 0;}
#block-dfr-blocks-download .content .btn-link {margin:0 1em;}
#block-dfr-blocks-download .content ul {margin:0;}
#block-dfr-blocks-download .content li {
  display:inline-block;
  padding:0;
  width:49%;
  background: none;
}

@media screen and (min-width:768px) {
  #block-dfr-blocks-download .block-title,
  #block-dfr-blocks-download .content {display:inline-block;vertical-align: middle;}
  #block-dfr-blocks-download .block-title {
    width:30%;
    padding:0;
    height:70px;
    line-height:70px;
    /*background:url(../images/spacer-2.png) 100% 0 repeat-y;*/
  }
  #block-dfr-blocks-download .content {
    padding:0;
    width:66%;
    margin-left: 3%;
  }
}



/** ******************************************************* **/
/** Content top                                             **/
/** ******************************************************* **/

.region-content-top .block {
  position:relative;
  margin:1em 0;
  padding:1em 0 3.5em 0;
  background:#036ba5;
  border-radius:5px;
  background-clip:padding-box;
  -moz-border-radius:5px;
  -moz-background-clip:padding-box;
  -webkit-border-radius:5px;
  -webkit-background-clip:padding-box;
}

.region-content-top .block-title {
  font-size:18px;
  line-height:22px;
  color:#fff;
  font-weight:normal;
  letter-spacing:-1px;
  padding:0 0 1em 1em;
  margin-bottom:1em;
  text-shadow:0 1px 0 #000;
  background:url(../images/spacer-1.png) 0 100% repeat-x;
}
.region-content-top .block .content {
  color:#fff;
  padding:0 2em 0 1em;
}
.region-content-top .block .btn-link {
  position:absolute;
  bottom:1em;
}
.region-content-top .block .btn-link:hover {
  color:#001D26;
  background:#fff;
}

@media screen and (min-width:640px) {
  .region-content-top .block {
    display:inline-block;
    vertical-align:top;
    min-height:170px;
    width:30%;
    margin:2em 2.5% 1em;
    background:url(../images/services-bg.png) 50% 0 no-repeat #036ba5;
  }
  .region-content-top .block-1 {margin-left:0;}
  .region-content-top .block-3 {margin-right:0;}
}




/** ******************************************************* **/
/** Content                                                 **/
/** ******************************************************* **/

/* Homepage */

#block-drupalfr-events-next-events,
#block-views-planete-block-1 {position: relative;min-height: 400px;}

#block-drupalfr-events-next-events .content,
#block-views-planete-block-1 .content {padding-top:1em;}

.block .drupalfr-event-details,
#block-views-planete-block-1 .views-row {padding-bottom: 0.5em;}

.block .drupalfr-event-teaser p {padding-bottom:0;}
.block .drupalfr-event-teaser .event-name,
#block-views-planete-block-1 .views-field-title span {
  display: inline-block;
  padding:0 0 0 16px;
  background:url(../images/marker-2.gif) 0 8px no-repeat;
  transition:background-position 0.1s linear;
  -moz-transition:background-position 0.1s linear;
  -webkit-transition:background-position 0.1s linear;
}
.block .drupalfr-event-teaser .event-name:hover,
#block-views-planete-block-1 .views-field-title span:hover {background-position:3px 8px;}



.block .drupalfr-event-teaser .event-date,
#block-views-planete-block-1 .views-field-created {
  padding:0 0 0 16px;
  color:#898989;
}

#block-drupalfr-events-next-events .more-link,
#block-views-planete-block-1 .more-link {
  /*text-align:right;*/
  color:#444;
  font-weight: bold;
  /*margin-right:1em;*/
  position:absolute;bottom: 0;right: 1em;

}
#block-views-planete-block-1 .more-link a {color:#444;}
#block-drupalfr-events-next-events .more-link:before,
#block-views-planete-block-1 .more-link a:before {content:"» ";}

@media screen and (min-width:768px) {
  #block-drupalfr-events-next-events,
  #block-views-planete-block-1 {
    display:inline-block;vertical-align: top;
    width:45%;margin-right:9%;
  }
  #block-views-planete-block-1 {margin-right:0;}
}



#block-views-drupalfr-block-1 {
  position:relative;
  margin-top:1em;
  padding-top:2em;
  border-top:1px solid #dee6ee;
}
#block-views-drupalfr-block-1 .feed-icon {
  position:absolute;
  top:1.2em;
  right:1em;
}

#block-views-drupalfr-block-1 .block-title {padding:0 0 1em 0;}
#block-views-drupalfr-block-1 .node {margin-bottom:2em;}
#block-views-drupalfr-block-1 .node h3 {margin-bottom: 0;}
#block-views-drupalfr-block-1 .node .submitted {padding-bottom:0.5em;}

#block-views-drupalfr-block-1 .more-link {
  text-align:right;
  color:#444;
  font-weight: bold;
  margin-right:1em;
}
#block-views-drupalfr-block-1 .more-link a {color:#444;}
#block-views-drupalfr-block-1 .more-link a:before {content:"» ";}



/** ******************************************************* **/
/** Sidebar                                                 **/
/** ******************************************************* **/

/* block-search-form */
#drupalfr-search-form .form-item,
#drupalfr-search-form .form-actions {display:inline-block;vertical-align: middle;}
#drupalfr-search-form .form-item {width:82%;margin:0;}
#drupalfr-search-form .form-item  input[type="search"] {
  width:90%;
  height:26px;
  z-index: 1;
}
#drupalfr-search-form .form-actions {width:15%;padding:1px 0 0; font-size:0; line-height:0;}
#drupalfr-search-form .form-submit {
  z-index: 1;
  background:url(../images/search.png) no-repeat 0 0;
  width:32px;
  height:33px;
  padding:0;
  margin:0;
  text-indent:-9999px;
  border:0;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
#drupalfr-search-form input[type="submit"]:hover {background-position:0 100%;}


#block-user-login {}
#block-user-login .form-item {margin:0.5em 0;}
#block-user-login .form-item label,
#block-user-login .form-item input {
  display:inline-block;vertical-align: middle;
  min-width:49%;
}
#block-user-login .form-item label {}
#block-user-login .form-item input {}


#twitter_block_results {}
.tweet {}
.tweet .profile_image {
  float:left;
  max-width:2.5em;
  margin:0.25em 0.25em;
}
.tweet .profile_name {font-weight: bold;}
.tweet .profile_name:after {content:":";}
.block li .tweet span a {color:#444;}
.block li .tweet span a:hover {color:#00C3DD;text-decoration: none;}


#block-dfr-emploi-creer-offre {text-align: center;}
#block-dfr-emploi-creer-offre .btn-link {
  display:block;
  font-size:28px;
  padding:1em 0;
}
#block-dfr-emploi-creer-offre p {
  color:#898989;
  font-size: 12px;
  margin-top:1em;
}


/** ******************************************************* **/
/** Footer Top                                              **/
/** ******************************************************* **/

.region-footer-top .block {}
.region-footer-top .block-title {
  font-size:18px;
  line-height:22px;
  font-weight:bold;
  color:#fff;
  text-shadow:0 1px 0 #000;
  margin-bottom:1em;
  letter-spacing: 0;
}

#block-dfr-blocks-about-us,
#block-views-offres-block-1 {padding:0 3%;}
#block-dfr-blocks-about-us {}
#block-views-offres-block-1 {position:relative;}
#block-views-offres-block-1 .views-row {
  margin-bottom:1em;
  padding:1em;
  font-size:13px;
  background:url(../images/clients-bg.png) 0 0 repeat;
  border-radius:5px;background-clip:padding-box;
  -moz-border-radius:5px;-moz-background-clip:padding-box;
  -webkit-border-radius:5px;-webkit-background-clip:padding-box;
}
#block-views-offres-block-1 .views-row:first-child {margin-left:0;}
#block-views-offres-block-1 .views-row > span {
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=6);
}

#block-views-offres-block-1 .views-field-title {
  font-size:16px;
  border-bottom:1px solid rgba(200, 200, 200, 0.6);
}
#block-views-offres-block-1 .views-field-title a {color:#fff;}
#block-views-offres-block-1 .views-field-title a:hover {color:#00C3DD;text-decoration: none;}

#block-views-offres-block-1 .view-empty a {color:#fff;text-decoration: underline;}
#block-views-offres-block-1 .more-link a:before {content:"» ";}

#block-views-offres-block-1 .nav-links {display:none;}


@media screen and (min-width:480px) {
  #block-views-offres-block-1 .content {overflow: hidden;}
  #block-views-offres-block-1 .view-content {
    width:300%; /* 100% * 3 */
  }
  #block-views-offres-block-1 .views-row {
    display:inline-block;vertical-align: top;
    width:10%; /* 30% / 3 */
    margin-left:1%; /* 3% / 3 */
    min-height: 10em;
    margin-bottom:0;
  }

  #block-views-offres-block-1 .nav-links {
    display:block;
    float:right;margin-right:3%;
  }
  #block-views-offres-block-1 .nav {
    display:inline-block;
    width:30px;
    height:30px;
    background:url(../images/arrows.png);
    cursor: pointer;
  }
  #block-views-offres-block-1 .nav-prev {background-position:0 -30px;margin-right:5px;}
  #block-views-offres-block-1 .nav-prev:hover {background-position:0 0;}
  #block-views-offres-block-1 .nav-prev.inactive:hover {background-position:0 -30px;}
  #block-views-offres-block-1 .nav-next {background-position:30px 0;}
  #block-views-offres-block-1 .nav-next:hover {background-position:-30px -30px;}
  #block-views-offres-block-1 .nav-next.inactive:hover {background-position:30px 0;}
  #block-views-offres-block-1 .nav.inactive {
    opacity: 0.5;-moz-opacity: 0.5;filter:alpha(opacity=5);
    cursor:default;
  }
}

@media screen and (min-width:900px) {
  #block-dfr-blocks-about-us,
  #block-views-offres-block-1 {padding:0;}
  #block-dfr-blocks-about-us {
    display:inline-block;vertical-align: top;
    width:30%;
    padding-right: 3%;
  }
  #block-views-offres-block-1 {
    display:inline-block;vertical-align: top;
    width:69%;
  }
  #block-views-offres-block-1 .more-link {position:absolute;top:-0.5em;right:3%;}
}




/** ******************************************************* **/
/** Footer                                                  **/
/** ******************************************************* **/

/* Copyright */
#block-block-10 {margin-bottom: 0;}
#block-block-10 p {padding:0;}




/* block-views-how-it-works-block */
.view-how-it-works .view-content {margin-bottom:25px;}
.view-how-it-works .view-content .views-row {
  float:left;
  width:180px;
  margin-left:20px;
}
.view-how-it-works .view-content .views-row:first-child {margin:0;}
.view-how-it-works .view-content .views-row .views-field-body {
  position:relative; 
  border:1px solid #e4eaef;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-background-clip:padding-box;
}
.view-how-it-works .view-content .views-row .views-field-body .img-border a, .view-how-it-works .view-content .views-row .views-field-body a img {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-background-clip: padding-box;
}
.view-how-it-works .view-content .views-row .views-field-body .img-border a {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display:block;
  font-size:0;
  line-height:0;
  border:4px solid #fff;
  background:url(../images/ie-fix.png) 0 0 repeat;
  -webkit-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  opacity:1;
}
.view-how-it-works .view-content .views-row .views-field-body .img-border a:hover {
  opacity:0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.view-how-it-works .view-footer {width:530px;}
/* End block-views-how-it-works-block */

/* block-views-features-overview-block */
.view-features-overview .view-content .views-row {margin-top:2px;}
.view-features-overview .view-content .views-row:first-child {margin:0;}
.view-features-overview .view-content .views-row .views-field-title {
  font-size:12px;
  line-height:18px;
  font-weight:700;
  background:url(../images/list-bg.gif) 0 0 repeat-x #f6fafd;
  border-left:1px solid #f0f5f9;
  border-right:1px solid #f0f5f9;
  border-bottom:1px solid #e4ebf2;
  border-top:0;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-background-clip:padding-box;
}
.view-features-overview .view-content .views-row .views-field-title:hover {background:#00b2d7;}
.view-features-overview .view-content .views-row .views-field-title a {
  display:block;
  padding:20px 0 20px 21px;
  text-decoration:none;
  color:#00c3dd;
  background:url(../images/marker-1.png) 100% -104px no-repeat;
}
.view-features-overview .view-content .views-row .views-field-title:hover a {color:#fff; background-position:100% 18px;}
/* End block-views-features-overview-block */




/* block-views-services-block */
#block-views-services-block {padding-top:30px;}
.view-services .view-content {width:100%; overflow:hidden;}
.view-services .view-content .views-row {
  float:left;
  width:300px;
  min-height:188px;
  margin-left:20px;
  padding:22px 0 10px;
  background:url(../images/services-bg.png) 0 0 no-repeat #036ba5;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-background-clip:padding-box;
}
.view-services .view-content .views-row:first-child {margin:0;}
.view-services .view-content .views-row .views-field-title {
  font-size:18px;
  line-height:22px;
  color:#fff;
  font-weight:700;
  letter-spacing:-1px;
  padding:0 0 15px 20px;
  margin-bottom:20px;
  text-shadow:0 1px 0 #000;
  font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
  background:url(../images/spacer-1.png) 0 100% repeat-x;
}
.view-services .view-content .views-row .views-field-body {
  color:#fff;
  padding:0 40px 0 24px;
}
.view-services .view-content .views-row .views-field-view-node {padding-left:23px;}
.view-services .view-content .views-row .views-field-title .field-content {display:inline-block; padding-left:40px;}
.view-services .view-content .views-row-1 .views-field-title .field-content {background:url(../images/pict-1.png) 0 0 no-repeat;}
.view-services .view-content .views-row-2 .views-field-title .field-content {background:url(../images/pict-2.png) 0 0 no-repeat;}
.view-services .view-content .views-row-3 .views-field-title .field-content {background:url(../images/pict-3.png) 0 0 no-repeat;}
/* End block-views-services-block */



/* block-views-article-block */
#block-views-article-block {
  float:left;
  width:235px;
  padding:30px 0 0 20px;
  margin-right:65px;
}
/* End block-views-article-block */

/* block-views-our-clients-block */
#block-views-our-clients-block {
  float:left;
  width:583px;
  padding-top:30px;
}
.view-our-clients .view-content .jcarousel-skin-default {text-align:left;}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal {
  width:583px;
  height:133px;
  margin:0;
  padding:5px 0 0;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal {width:583px;}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel li {
  width:183px !important;
  height:133px !important;
  border:0;
  font-size:0;
  line-height:0;
  padding:0;
  margin:0 17px 0 0 !important;
  background:none;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel li a {
  display:block;
  background:url(../images/clients-bg.png) 0 0 repeat;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-background-clip:padding-box;
}
.view-our-clients .view-content .jcarousel-skin-default .jcarousel-container-horizontal .jcarousel-clip-horizontal .jcarousel li a:hover {background:#000;}
/* End block-views-our-clients-block */

/* block-views-recent-posts-block */
.view-recent-posts .view-content .views-row {
  width:100%;
  overflow:hidden;
  margin-top:20px;
}
.view-recent-posts .view-content .views-row:first-child {margin:0;}
.view-recent-posts .view-content .views-row .views-field-field-blog-image {
  float:left;
  margin-right:20px;
}
.view-recent-posts .view-content .views-row .views-field-field-blog-image .field-content {
  padding:4px;
  background:#fff;
  border:1px solid #e4eaef;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-background-clip:padding-box;  
}
.view-recent-posts .view-content .views-row .views-field-body-1 {overflow:hidden;}
.view-recent-posts .view-content .views-row .views-field-body-1 .text-title {font-weight:700;}
/* End block-views-recent-posts-block */




/* feature */
#block-block-7 {padding-top:30px;}
.recent-news {
  width:100%;
  overflow:hidden;
}
.recent-news .item {
  float:left;
  width:280px;
  margin-left:40px;
  overflow:hidden;
}
.recent-news .item:first-child {margin:0;}
.recent-news .item .block-date {
  float:left;
  width:38px;
  margin-right:16px;
  text-align:center;
  font-size:11px;
  line-height:18px;
  color:#001c28;
  font-weight:700;
  text-transform:uppercase;
  text-align:center;
  font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.recent-news .item .block-date span {
  display:block;
  width:38px;
  height:24px;
  font-size:16px;
  line-height:20px;
  color:#fff;
  padding:18px 0 0;
  background:url(../images/date-bg.png) 0 0 no-repeat;
}
/* End feature */



