body {}
#page-wrapper {}
  #page {}
    #header {
      position: relative;
    }
      #logo {
        height: 96px;
        width: 230px;
      }
    #header-bottom {
      min-height: 70px;
    }
    #main-wrapper {}
      #main {
        padding: 2em 0;
      }
        #sidebar-first {}
        #content {}
        .sidebar-first #content {}
    #footer {}

.inner {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width:768px) {
  #sidebar-first {
    float: left;
    margin-left: -100%;
    padding-right: 3%;
    width: 30%;
  }
  #content {
    width: 100%;
  }
  .sidebar-first #content {
    float: left;
    padding-left: 30%;
  }
}

@media screen and (max-width:980px) {
  #main-wrapper .inner {
    padding-right: 2em;
    padding-left: 2em;
  }
  .inner {
    padding: 0 1%;
  }
}
@media screen and (min-width:900px) {
  .inner {
    max-width: 980px;
  }
}
@media screen and (min-width:1280px) {
  .inner {
    max-width: 1200px;
  }
}
