
/** ******************************************************* **/
/** Homepage                                                **/
/** ******************************************************* **/

.front #page-title {display:none;}

.front #block-system-main {}
.front #block-system-main .node {}
.front #block-system-main .node li {
  display:inline-block;
  padding-left:10px;
  margin-right:1em;
}


/** ******************************************************* **/
/** Documentation                                           **/
/** ******************************************************* **/

#documentation {}
#documentation .node-doc {
  border-bottom:1px solid #dee6ee;
  margin-bottom:1em;
}
#documentation .node-doc:last-child {border-bottom:none;}

#documentation .node-doc .menu a {color:#444;}
#documentation .node-doc .menu a:hover {/*color:#00c3dd;*/color:#036ba5;}


/** ******************************************************* **/
/** Forum                                                   **/
/** ******************************************************* **/

#forum table {}
#forum table .submitted,
#forum table .submitted a {font-style:normal;color:#444;}

#forum .container {border-top: 5px solid #E4EAEF;}
#forum tr:first-child .container {border-top: 1px solid #E4EAEF;}
#forum .container .name {
  font-size:18px;
  padding:0.5em 0 0 0.5em;
}
#forum .description
#forum .title .submitted,
#forum .title .submitted a {color:#898989;}


/** ******************************************************* **/
/** Ajouter du contenu                                      **/
/** ******************************************************* **/

/* node/add */
.node-type-list {}
.node-type-list dd {margin-left:0;}
.node-type-list dd + dt {margin-top:1em;}



/** ******************************************************* **/
/** Annuaire                                                **/
/** ******************************************************* **/

.view-annuaire-prestataires {}
.view-annuaire-prestataires.view-display-id-page_1 {}

.node-annuaire {}
.node-annuaire > footer {margin:0;padding:0;border-top:0;}
.node-annuaire .field {margin-bottom: 1em;}
.node-annuaire .field-items {background:#fff;}
.node-annuaire .field-type-image .field-items{
  padding:0;border:0;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}

#block-views-offres-block-2 {}
#block-views-offres-block-2 > h2 {margin-bottom:0.5em;}
#block-views-offres-block-2 .view-content {}
#block-views-offres-block-2 .views-row {
  background:url(../images/marker-2.gif) 0 8px no-repeat;
  padding:0 16px;
  margin:0.5em 0;
}
#block-views-offres-block-2 .views-field {display:inline-block;line-height:20px;}
#block-views-offres-block-2 h3 {margin-bottom:0;letter-spacing: 0;font-weight: normal;}
#block-views-offres-block-2 .views-field-field-type-contrat {color:#999;}


@media screen and (min-width:768px) {
  .node-annuaire .field {
    margin-bottom: 0;
    display:table;
    width:100%;
    border-collapse:collapse;
  }
  .node-annuaire .field:last-child {border-bottom: 1px solid #E4EAEF;}
  .node-annuaire .field-label,
  .node-annuaire .field-items,
  .node-annuaire .field-type-image .field-items{
    display:table-cell;
    vertical-align: top;
    border-top: 1px solid #E4EAEF;
    padding:0.5em;
  }
  .node-annuaire .field-label {width:30%;}
  .node-annuaire .field-items {width:70%;}

  #block-views-offres-block-2 .views-row {display:inline-block;vertical-align: top;width:49%;}
}




/** ******************************************************* **/
/** Prochains evenements                                    **/
/** ******************************************************* **/
.page-prochains-evenements {}

.drupalfr-event-full {}
.drupalfr-event-full .event-extra-info {
  color:#898989;
  font-style: italic;
  margin-bottom: 1em;
}



/** ******************************************************* **/
/** Emploi                                                  **/
/** ******************************************************* **/

.node-offre {}

.field-name-field-region {}
.field-name-field-region .field-item {display: inline-block;}
.field-name-field-region .field-item:before {content:", ";}
.field-name-field-region .field-item:first-child:before {content:"";}

.node-offre.node-full {}



/** ******************************************************* **/
/** Planete                                                 **/
/** ******************************************************* **/

.page-planete {}

.node-planete {margin-bottom:1em;}
.node-planete .field-type-image {margin:0;}
.node-planete .field-type-image .field-items {
  padding:0;
  border:0;
  background:none;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}
.node-planete > header,
.node-planete > .content {
  display:inline-block;vertical-align: top;
}
.node-planete > header {width:15%;}
.node-planete > .content {width:84%;}


.field-name-field-planete-user {position:relative;}
.field-name-field-planete-user .field-name-field-picture {float:none;}
.field-name-field-planete-user .content {
  display:none;
  position:absolute;z-index:1;
  top:66%;
  left:-11.5em;
  width:30em;
  padding:1em;

  border:1px solid #E4EAEF;
  background:#fff;
  -webkit-border-radius: 5px;-webkit-background-clip:padding-box;
  -moz-border-radius: 5px;-moz-background-clip:padding-box;
  border-radius: 5px;background-clip:padding-box;

  -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    2px 2px 2px rgba(50, 50, 50, 0.4);
  box-shadow:         2px 2px 2px rgba(50, 50, 50, 0.4);
}
.field-name-field-planete-user .content:after,
.field-name-field-planete-user .content:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.field-name-field-planete-user .content:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}
.field-name-field-planete-user .content:before {
  border-color: rgba(228, 234, 239, 0);
  border-bottom-color: #E4EAEF;
  border-width: 21px;
  left: 50%;
  margin-left: -21px;
}


.field-name-field-planete-user.expanded .content {display:block;}






