/** ******************************************************* **/
/** HTML Elements 											**/
/** ******************************************************* **/
/*html {height:100%;}*/
body {
  background: #001D26;
  color: #444;
  font: normal 14px/21px 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

/* Titles */
#page-title {
  margin-bottom: 1em;
}

/* Links */
a {
  /*color: #00c3dd;*/
  color: #036ba5;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* List */
ul.menu li {
  margin-left: 0;
}
li.expanded,
li.collaped,
li.leaf {
  padding: 0;
}

ul.links.inline {
  display: block;
}
ul.links.inline li {
  background: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 1em;
  padding: 0;
  text-transform: uppercase;
}
ul.links.inline li.last {
  margin-right: 0;
}
ul.links.inline li a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
ul.links.inline li a:hover {
  color: #42494C;
}

/* Tables */
thead tr {
  background: #42494C;
  color: #fff;
}
thead th {
  font-weight: normal;
  padding: 0.5em;
}
th a img {
  margin-left: 0.5em;
}
tr td,
tr th {
  border: 1px solid #e4eaef;
}
tr th a,
.block tr th a {
  color: #fff;
  text-decoration: none;
}
tr td {
  padding: 0.5em;
}
tr.even,
tr.odd {
  border: none;
  color: #000;
}
tr.odd,
tr.odd td.active {
  background-color: transparent;
}
tr.odd input[type="text"] {
  background-color: #fff;
}
tr.even,
tr.even td.active {
  background-color: #fff;
}
tr a {
  color: #444;
}
tr p {
  margin: 0;
}
.not-logged-in tr td.edit,
.not-logged-in tr td.delete {
  display: none;
}

/* Forms */
/* Buttons Styles */
.form-submit,
#edit-cancel,
/*.more-link a,*/
.btn-link {
  background: #001d26;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin: 0 2px 2px 0;
  padding: 9px 14px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  transition: background 0.15s;
}
.form-submit {
  margin: 0 10px 3px 0;
}
.form-submit:hover,
#edit-cancel:hover,
/*.more-link a:hover,*/
.btn-link:hover {
  background: #00b2d7;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
select,
textarea {
  background: #fff;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid #95a6ad;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #444;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0.5em 0.5em;
  position: relative;
  outline: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"] {
  /*width:260px;*/
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
select:focus,
option:focus,
textarea:focus {
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 178, 215, 0.7);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 178, 215, 0.7);
  -o-box-shadow: 0px 0px 3px 0px rgba(0, 178, 215, 0.7);
  box-shadow: 0px 0px 3px 0px rgba(0, 178, 215, 0.7);
}

form label {
  display: table;
  color: #42494C;
  font-weight: 400;
  vertical-align: middle;
}
.field-multiple-table label {
  color: white;
}
form .form-type-item {
  overflow: hidden;
}
form .form-type-item label {
  float: left;
  margin-right: 15px;
}
.marker,
.form-required {
  color: #a7b2b8;
}
html.js input.form-autocomplete {
  background-position: 100% -40px;
}
html.js input.form-autocomplete.throbbing {
  background-position: 100% -13px;
}
form .description {
  color: #898989;
}
fieldset {
  border-color: #E4EAEF;
}
fieldset legend,
fieldset legend a {
  color: #444;
}
.filter-wrapper {
  border-color: #E4EAEF;
  padding: 1em 0;
}
div.vertical-tabs {
  background: #fff;
}
div.vertical-tabs,
div.vertical-tabs .vertical-tabs-list,
div.vertical-tabs .vertical-tabs-list li {
  border-color: #E4EAEF;
}
div.vertical-tabs .vertical-tabs-list li {
  background: transparent;
}
.vertical-tabs .vertical-tabs-list li.vertical-tab-button a {
  color: #444;
}
.vertical-tabs .vertical-tabs-list li.vertical-tab-button a span {
  color: #898989;
}

/** ******************************************************* **/
/** Header													**/
/** ******************************************************* **/
#header {
  background: url(../images/section1-bg.gif) 0 0 repeat-x #00273a;
  padding: 1em 0;
  text-align: center;
}
  .branding,
  .region-menu {
    display: inline-block;
    vertical-align: middle;
  }
  .branding {}
  .region-menu {}

  #logo,
  #site-name-and-slogan {
    vertical-align: middle;
  }
  #logo {
    display: inline-block;
    text-decoration: none;
  }
  #site-name-and-slogan {}
    #site-name {
      color: #fff;
      font-size: 32px;
      padding: 10px 0;
      padding-left: 0.15em;
    }
    #site-name a {
      color: #fff;
    }
    #site-name a:hover {
      text-decoration: none;
    }
    #site-slogan {
      color: #a7b2b8;
      font-size: 14px;
      font-style: italic;
      margin: 0;
      padding: 0;
    }

/*****************Main menu*****************/
#block-system-main-menu {
  margin: 1em 0;
  position: relative;
}
#block-system-main-menu > h2 {
  display: none;
}
#block-system-main-menu .menu {}
#block-system-main-menu .menu li {
  background: none;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin: 2%;
  padding: 0;
  text-align: center;
  width: 45%;
}
#block-system-main-menu .menu a {
  background: none;
  background: rgba(0, 178, 215, 0.2);
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #f6fafd;
  display: block;
  padding: 7px 14px;
  text-decoration: none;
  -moz-transition: background 0.15s;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}
#block-system-main-menu .menu a:hover,
#block-system-main-menu .menu a.active,
#block-system-main-menu .menu .active-trail a {
  background: #00090c;
  background: rgba(0, 178, 215, 0.9);
}
.push-drupalcamp {
  padding-top: 1em;
  text-align: center;
}
@media screen and (min-width:480px) {
  #block-system-main-menu .menu {
  }
  #block-system-main-menu .menu li {
    /*margin: 1%;width: 22%;*/
    margin: 1%;
    width: 30%;
  }
}
@media screen and (min-width:640px) {
  #block-system-main-menu .menu {
    text-align: center;
  }
  #block-system-main-menu .menu li {
    margin: 0.25em;
    width: auto;
  }
}

@media screen and (min-width:900px) {
  .branding {
    padding-right: 3%;
    min-width: 30%;
  }
  .region-menu {
    min-width: 66%;
  }
  #block-system-main-menu {
    margin: 1em 0;
  }
}
@media screen and (min-width:1280px) {}

#header-bottom {
  background: url(../images/section4-bg.png) 0 0 repeat-x #d6e3e7;
  border-top: 1px solid #3461a2;
  border-bottom: 1px solid #c1d2e6;
}

/** ******************************************************* **/
/** Content				 									**/
/** ******************************************************* **/
#main-wrapper {
  background: #f6fafd;
}
/* Breadcrumb */
#breadcrumb {
  color: #999;
  font-size: 12px;
  padding: 1em 0;
  text-transform: uppercase;
}
#breadcrumb a {
  color: inherit;
  text-decoration: none;
}
#breadcrumb a:hover {
  color: #0074BD;
}

/* #comment-form fieldset */
#comment-form .filter-wrapper {
  border: none;
  padding: 20px 0;
}
#comment-form .filter-wrapper .fieldset-wrapper {
  overflow: hidden;
}
#comment-form .filter-wrapper .fieldset-wrapper .filter-help,
#comment-form .filter-wrapper .fieldset-wrapper .filter-help p {
  padding: 0;
}
#comment-form .filter-wrapper .fieldset-wrapper .filter-help p a {
  background: none;
  color: #898989;
  padding: 0;
  text-decoration: underline;
}
#comment-form .filter-wrapper .fieldset-wrapper .filter-help p a:hover {
  text-decoration: none;
}
#comment-form .filter-wrapper .fieldset-wrapper .form-item {
  margin: 0;
  padding: 0;
}
#comment-form .filter-wrapper .fieldset-wrapper .form-item label {
  display: inline;
  margin-right: 10px;
}
#comment-form .filter-wrapper .fieldset-wrapper .filter-guidelines {
  overflow: hidden;
  padding: 15px 0 0;
  width: 100%;
}
#comment-form #edit-actions:after,
#comment-confirm-delete #edit-actions:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* node defaults */
.node {}
.node ul {
  margin-bottom: 1em;
}
.node > footer {}
.node-full > footer {
  border-top: 1px solid #e4eaef;
  margin-top: 1em;
  padding-top: 1em;
}
.node .field-label-above {
  padding-top: 1em;
}

/* node tags */
.field-type-taxonomy-term-reference ul.links {
  margin-bottom: 0;
}
.field-type-taxonomy-term-reference ul.links li {
  background: none;
  /*color: #00c3dd;*/
  color:#036ba5;
  display: inline-block;
  padding: 0;
}
.field-type-taxonomy-term-reference ul.links li:before {
  content: ", ";
}
.field-type-taxonomy-term-reference ul.links li:first-child:before {
  content: "";
}
.field-type-image {
  margin-bottom: 1em;
}
.field-type-image .field-items {}

/* Author & date information */
.submitted {
  font-style: italic;
}
.submitted,
.submitted a {
  color: #898989;
}
.submitted a:hover {
  text-decoration: underline;
}

/* Comments  */
#comments {
  border-top: 1px solid #dee6ee;
  margin: 1em 0;
  padding: 1em 0;
}
.comment {
  background: #fff;
  border: 1px solid #dee6ee;
  margin: 0;
  padding: 1em;
}
.comment.comment-accepted {
  border: 2px solid #036ba5;
}
.indented {
  border-left: 1px solid #dee6ee;
  /*border-bottom: 1px solid #dee6ee;*/
  margin-left: 0;
  padding: 1em 0 0 1em;
}
.comment + a + .comment,
.indented + a + .comment {
  margin-top: 1em;
}
.comment .user-picture {
  float: left;
  margin: 0 1em 1em 0;
}
.comment h3 {
  margin-bottom: 0;
}
.comment h3 a {
  color: #270605;
}
.comment h3 a:hover {
  text-decoration: underline;
}
.comment .submitted {
  font-size: 12px;
  margin: 0;
}
.comment .submitted .permalink {
  display: none;
}
.comment span.new {
  position: absolute;
  top: 1em;
  right: 1em;
}
.comment .content {}
.comment .user-signature {
  border-top: 1px solid #dee6ee;
  color: #898989;
  font-size: 12px;
  margin-top: 0.5em;
}
.comment .user-signature a {
  color: #898989;
}
.comment footer {
  margin-top: 1em;
}
.comment footer .links {
  margin-bottom: 0;
}

/* Book navigation */
.node .book-navigation {
  background: #fff;
  border: 1px solid #dee6ee;
  margin: 1em 0;
  padding-top: 0;
}
.book-navigation .menu,
.book-navigation .page-links {
  border: 0;
  padding: 1em;
}
.book-navigation .menu {
  border-bottom: 1px solid #dee6ee;
  margin-bottom: 0;
}
.book-navigation .page-links {}

/* Pager */
.pager {
  overflow: hidden;
  text-align: center;
}
.item-list ul.pager li {
  background: #001d26;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  display: inline-table;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height:15px;
  margin: 0 0 0 4px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.item-list .pager li:first-child {
  margin: 0;
}
.item-list .pager li.pager-current,
.item-list .pager li.pager-ellipsis {
  background: #00b2d7;
  cursor: default;
  padding: 9px 14px;
  zoom: 1;
}
.item-list .pager li:hover {
  background: #00b2d7;
  cursor:pointer;
}
.item-list .pager li.pager-current {
  background: #00b2d7;
}
.item-list .pager li.pager-ellipsis {
  background: none;
  color: #001d26;
}
.item-list .pager li a {
  background: none;
  color: #fff;
  display: block;
  padding: 9px 14px;
  text-decoration: none;
  zoom: 1;
}

/** ******************************************************* **/
/** Footer				 									**/
/** ******************************************************* **/
#footer-top {
  /*background: url(../images/content-bottom-tail.jpg) 50% top repeat-x #03649E;*/
  background: #036ba5;
  background-image: -moz-radial-gradient(50% 75%, circle cover, #01a5ca, #036ba5 90%);
  background-image: -webkit-radial-gradient(50% 75%, circle cover, #01a5ca, #036ba5 90%);
  background-image: -o-radial-gradient(50% 75%, circle cover, #01a5ca, #036ba5 90%);
  background-image: -ms-radial-gradient(50% 75%, circle cover, #01a5ca, #036ba5 90%);
  background-image: radial-gradient(50% 75%, circle cover, #01a5ca, #036ba5 90%);
  border-top: 1px solid #024f7b;
  border-bottom: 1px solid #024f7b;
  color: #f6fafd;
}
#footer-top .inner {
  /*background: url(../images/content-bottom-bg.jpg) 50% top no-repeat #03649E;*/
  padding: 2em 0;
}
.region-footer-top a {
  color: #f6fafd;
}

#footer {
  /*background: url(../images/footer-bg.png) 0 0 repeat #03649E;*/
  background: #001d26;
  border-top: 1px solid #035a8c;
  color: #f6fafd;
  font-size: 11px;
  padding: 1em 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color:#f6fafd;
}

/** ******************************************************* **/
/** Forum                                                   **/
/** ******************************************************* **/
.page-forum .action-links a {
  background: #036ba5;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #f6fafd;
  display: inline-block;
  margin-bottom: 15px;
  padding: 7px 14px;
  text-decoration: none;
}
.page-forum .action-links a:hover {
  background: rgba(0, 178, 215, 0.9);
}

#forum table tr th,
#forum table tr.container {
  background-color: #1778ae;
  color: #ffffff;
}
#forum table tr.container a {
  color: #ffffff;
  text-decoration: underline;
}
#forum table tr.container .description {
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
}

/** ******************************************************* **/
/** Twitter block                                           **/
/** ******************************************************* **/
.block-twitter-block iframe {
  background: none repeat scroll 0 0 transparent;
}

/** ******************************************************* **/
/** Media                                                   **/
/** ******************************************************* **/
/** For the file atoms. */
.view-media td {
  width: 50%;
}

.view-media .scald_atom h2 {
  font-size: 20px;
}
.scald_atom .field-type-taxonomy-term-reference .field-item {
  display: inline-block;
  padding-right: 5px;
}
.scald_atom .field-type-taxonomy-term-reference .field-item:not(:last-child):after {
  content: ',';
}

/** ******************************************************* **/
/** Views                                                   **/
/** ******************************************************* **/
.view-filters {
  margin-bottom: 15px;
}

/** ******************************************************* **/
/** Map                                                   **/
/** ******************************************************* **/
.event-listing-map-teaser,
.event-listing-map {
  margin-bottom: 20px;
}
