
/** ******************************************************* **/
/** User / Admin                                            **/
/** ******************************************************* **/


/* user profile */
.profile .user-picture {margin-left:20px;}
.profile h3 {overflow:hidden; padding-bottom:10px; margin-bottom:25px; border-bottom:1px solid #e4eaef;}

.profile .field-name-field-picture {
  float:left;
  margin:0 1em 1em 0;
}
.profile .field-name-field-realname {
  font-size:18px;
  font-weight: bold;
  margin-bottom:1em;
}
.profile .field-name-field-website {
  margin-top:1em;
}

#block-views-planete-user-block {}
#block-views-planete-user-block > h2 {margin-bottom:0.5em;}
#block-views-planete-user-block .views-row {padding-bottom: 0.5em;}
#block-views-planete-user-block .views-field-title span {
  display: inline-block;
  padding:0 0 0 16px;
  background:url(../images/marker-2.gif) 0 8px no-repeat;
  transition:background-position 0.1s linear;
  -moz-transition:background-position 0.1s linear;
  -webkit-transition:background-position 0.1s linear;
}
#block-views-planete-user-block .views-field-title span:hover {background-position:3px 8px;}
#block-views-planete-user-block .views-field-created {
  padding:0 0 0 16px;
  color:#898989;
}

/***********Admin tabs*************/


.tabs ul.primary {
  border:0;
  border:0;
  margin:10px 0 10px 0;
  overflow:hidden;
  padding:4px 0;
}
.tabs ul.primary li {}
.tabs ul li a {
  margin:0;
  border:0;
  background:#313233;
  color:#fff;
  text-transform: uppercase;
  font-size:12px;
  padding:0.5em;
}
.tabs ul li a.active,
.tabs ul li a:hover {
  border:0;
  background:#00b2d7;
}


