/** ******************************************************* **/
/** User / Admin                                            **/
/** ******************************************************* **/
/* user profile */
.profile .user-picture {
  margin-left: 20px;
}
.profile h3 {
  border-bottom: 1px solid #e4eaef;
  margin-bottom: 25px;
  overflow: hidden;
  padding-bottom: 10px;
}
.profile .field-name-field-picture {
  float: left;
  margin: 0 1em 1em 0;
}
.profile .field-name-field-realname {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
}
.profile .field-name-field-website {
  margin-top: 1em;
}

#block-views-planete-user-block {}
#block-views-planete-user-block > h2 {
  margin-bottom: 0.5em;
}
#block-views-planete-user-block .views-row {
  padding-bottom: 0.5em;
}
#block-views-planete-user-block .views-field-title span {
  background :url(../images/marker-2.gif) 0 8px no-repeat;
  display: inline-block;
  padding: 0 0 0 16px;
  transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -webkit-transition: background-position 0.1s linear;
}
#block-views-planete-user-block .views-field-title span:hover {
  background-position: 3px 8px;
}
#block-views-planete-user-block .views-field-created {
  color: #898989;
  padding: 0 0 0 16px;
}

/***********Admin tabs*************/
.tabs ul.primary {
  border: 0;
  margin: 10px 0 10px 0;
  overflow: hidden;
  padding: 4px 0;
}
.tabs ul.primary li {}
.tabs ul li a {
  background: #313233;
  border: 0;
  color :#fff;
  font-size: 12px;
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
}
.tabs ul li a.active,
.tabs ul li a:hover {
  background: #00b2d7;
  border: 0;
}

/**
 *  WYSIWYG settings
 */
.bue-ui.editor-container .bue-image-button.editor-image-button {
  padding: 2px;
}
