/*
 style.css
*/

body { 
 margin: 0;
 padding: 0;
 font: 85%/140% "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
 background-color: white;
}
a {
 color: #38678c;
 font-weight: bold;
 text-decoration: none;
}
a:hover {
 color: #91b4cf;
 text-decoration: underline;
}
h1, h2, h3, h4 {
 font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
 line-height: normal;
}
h1 {
 font-size: 1.5em; font-weight: bold;
}
h2 {
 font-size: 1.3em; font-weight: bold;
}
h3 {
 font-size: 1em; font-weight: bold;
}
h4 {
 font-size: 1em; font-weight: normal; font-style: italic;
}
br.clear { 
 height: 1px; 
}
hr {
 margin: 1.5em 0;
 border-color: #cccccc;
}

/* positionning */
#l_header { 
 background: url(images/top_background.gif) repeat-x 0% 100%; 
 padding: 0px 10px; 
}
#l_header_2 { 
 width: 940px;
 padding-right: 20px;
 margin-left: auto; 
 margin-right: auto; 
}
#l_header img { 
 display: block; 
}
#sidebar_left { 
 float: left; 
 width: 150px; 
 margin-right: 20px; 
 background-color: #fff;
}
#l_content { 
 /* margin-left: 160px; */
 width: 740px; 
 float: right; 
}
#l_navigator { 
 background: url(images/navigator_background.gif) repeat-x 0% 100%; 
 padding: 0px 10px; 
 line-height: normal;
}
#l_navigator_2 { 
 background: url(images/navigator_background2.gif) no-repeat 0% 0%; 
 width: 940px; 
 margin-left: auto; 
 margin-right: auto; 
 padding: 4px 0px; 
 padding-bottom: 8px; 
 padding-right: 20px;
 font-size: 11px; 
 font-weight: normal; 
 font-family: Verdana; 
 color: #999999; 
}
#l_navigator_3 {
 padding-left: 75px; 
}
.breadcrumb { 
 margin: 0; 
 padding: 0; 
}
#l_navigator a { 
 color: #666666; 
}

/* messages */
.messages {
  padding: .5em 1em;
  margin: .75em 0 .75em;
  background-color: #fff;
  border: 1px solid #b8d3e5;
}
.messages ul {
  margin: 0;
}
.messages ul {
  padding-left: 1em;
}

div.status {
  color: #3a3;
  border-color: #d9ebbf;
}

div.error {
  color: #c52020;
}

/* primary and secondary links */
.primary_links { 
 float: right; 
 margin: 0; 
 padding: 0; 
 list-style: none; 
 height: 40px; 
 border-left: solid 1px #A6CFED; 
 border-right: solid 1px #395A73; 
}
.primary_links li { 
 float: left;
 margin: 0; 
 padding: 0; 
}
.primary_links a { 
 float: left; 
 display: block; 
 font-weight: normal; 
 height: 40px; 
 line-height: 40px; 
 padding: 0 10px; 
 border: none; 
 border-left: 
 solid 1px #395A73; 
 border-right: 
 solid 1px #A6CFED; 
 font-family: Verdana; 
 color: #E6EEF4; 
 text-decoration: none; 
 font-size: 11px; 
}
.primary_links a:hover { 
 background-color: #65A0CC; 
 text-decoration: underline; 
 color: white; 
}
.primary_links a.active { 
 color: white; 
}
#l_wrapper {
  background-color: #ffffff; 
}
#l_wrapper_2 { 
 width: 910px; 
 margin-left: auto; 
 margin-right: auto; 
 padding: 10px;  
}
#l_footer { 
 clear: both;
 width: 100%; 
 background: url('images/footer.gif') repeat-x 0 0;
 padding-top: 30px; 
 margin-top: 10px;
}
#l_footer_2 { 
 clear: both; 
 width: 880px; 
 margin-left: auto; 
 margin-right: auto; 
}
#l_footer_3 { 
 padding-left: 5px; 
 padding-top: 5px; 
 font-size: 0.85em; 
 color: #666666; 
 padding-bottom: 4px; 
}
#l_footer a { 
 color: #444444; 
 border-bottom: 
 solid 1px #cccccc; 
 text-decoration: none; 
}
#l_footer a:hover { 
 border-bottom: solid 1px #222222; 
 color: #222222;  
}
#l_footer p { 
 margin-top: 0; 
 margin-bottom: 0.5em; 
}
.secondary_links {
 float: right;
 list-style: none;
 margin: 0;
}
.secondary_links li {
 padding-left: 20px;
 padding-right: 0.25em;
 margin-bottom: 0.5em;
}
.secondary_links li.menu-1-2-197 {
 background: url('images/rss.gif') no-repeat 0% 50%;
}
.secondary_links a {
 text-decoration: none;
 font-size: 11px; 
}
.secondary_links a:hover { 
 text-decoration: underline; 
 color: white; 
}

/* navigation */
.clear { 
  clear: both; 
}
.primarydiv {
 float: left;
 width: 100%;
 background: #ffffff url(images/tab_back.png) repeat-x 0% 100%;
 font-size: 11px;
 font-family: Arial;
 margin-bottom: 5px;
}
ul.primary {
 margin: 0; padding: 0; list-style: none;
 border: none;
 padding-left: 10px; padding-right: 10px;
 float: right;
}
ul.primary li {
 float: left;
 margin: 0; padding: 0;
 background: url(images/tab_low_r.png) no-repeat 100% 0%;
}
ul.primary li a {
 display: block;
 border: 0;
 margin: 0;
 background: url(images/tab_low_l.png) no-repeat -1px 0%;
 padding: 3px 10px;
 padding-top: 6px;
 padding-bottom: 2px;
 color: black; text-decoration: none;
 padding-left: 9px;
}
ul.primary li.first a {
 background-position: 0px 0px;
}
ul.primary li.active {
 background: url(images/tab_high_r.png) no-repeat 100% 0%;
}
ul.primary li.active a {
 background: url(images/tab_high_l.png) no-repeat 0% 0%;
 border: none;
 padding-top: 4px;
 padding-bottom: 5px;
}
ul.primary li a:hover {
 background-color: inherit;
 border: none;
}
#pager {
 padding-top: 20px;
 text-align: right;
 font-size: 0.85em;
}
#pager .pager-list a, #pager .pager-list strong {
 text-transform: none;
 font-size: 1em;
}
#pager .pager-list a, #pager .pager-list .pager-current {
 margin: 0;
 border: none;
 border: solid 1px white;
}
#pager .pager-list .pager-current {
 font-weight: bold;
}
#pager .pager-list .pager-first {
 /* border-left: none; */
}
#pager a, #pager strong {
 color: black;
 text-decoration: none;
 /* display: block; */
 /* float: left; */
 border: solid 1px #cccccc;
 padding: 2px 6px;
 margin-right: 2px; margin-left: 2px;
 text-transform: uppercase;
 font-weight: normal;
}
#pager a:hover {
 border: solid 1px #ccc;
}
li.leaf { 
 list-style: none;
}
.leaf a.active { 
 border-bottom: 1px solid black;
}
.more-link { 
padding: 3px; 
}
.more-link a { 
 text-decoration: none; color: black; 
}

/* blocs */
.block {
 margin: 0;
}
.block .title {
 background-color: #507EA1;
}
.block .title .w1 {
 background: url(images/block_title-r.gif) no-repeat 100% 0%;
}
.block .title h2 {
 background: url(images/block_title-l.gif) no-repeat 0% 0%;
 font-size: 11px;
 color: white;
 text-align: left;
 display: block;
 padding: 5px 5px;
 padding-left: 10px;
 font-weight: normal;
 margin: 0;
}
.block .content { 
 background: url(images/block_content-l.gif) no-repeat 0% 100%; 
 font-size: 11px;
}
.block ul {
 line-height: normal;
}
.block .title a { 
 color: white; 
 text-decoration: none; 
 display: block; 
 background: url(images/level_up.gif) 
 no-repeat 100% 50%; 
 margin-right: 6px; 
 padding-right: 10px;
}
.block .content { 
 background: url(images/block_content-l.gif) no-repeat 0% 100%; 
 background-color: #BED6EB;
 font-size: 11px; 
}
.block .content .w1 { 
 background: url(images/block_content-r.gif) no-repeat 100% 100%; 
 padding: 2px 4px; 
 padding-bottom: 2px; 
}
.block .content a { 
 color: #666666; 
 text-decoration: none; 
}
.block .content a:hover { 
 color: #000000; 
 text-decoration: underline; 
}
.block .item-list ul { 
 list-style: none; 
 margin: 0; 
 padding: 0; 
 margin-left: -2px;
 margin-right: -2px; 
 margin-top: 5px; 
 font-size: 10px; 
}
.block .item-list ul li { 
 list-style: none; 
 margin: 0; 
 padding: 0; 
 padding: 2px 1px; 
 border-top: solid 1px #BED6EB; 
 background-color: #ffffff; 
}

.block-user h3 {
 margin: 0;
 margin-top: 1em;
}
#block-user-0 h2{
  font-size: 10px;
}
.block-forum .item-list ul, .block-forum .item-list ul li, .block-user .item-list ul, .block-user .item-list ul li {
 background-color: #BED6EB; 
 margin: 0;
 padding: 0;
}

#block-block-3 .title .w1 { 
 background: url(images/block_title_download-r.gif) no-repeat 100% 0%; 
}
#block-block-3 .title h2 { 
 background: url(images/block_title_download-l.gif) no-repeat 0% 0%; 
 padding-left: 25px; 
}
#block-block-3 { 
}
#block-block-3 .content { 
 background: url(images/block_content_download-l.gif) no-repeat 0% 100%; 
 background-color: #d9ebbf; 
}
#block-block-3 .content .w1 { 
background: url(images/block_content_download-r.gif) no-repeat 100% 100%; 
}
.block .drupal_download, .drupal_download ul, .drupal_download li {
 list-style: none;
 padding: 0;
 margin: 0;
}
.drupal_download a {
 display: block;
 padding-left: 28px; line-height: 28px; height: 28px;
 font-family: Verdana, Arial; font-size: 1.15em; text-decoration: none;
 font-weight: bold;
 color: #2c5800 !important;
}
.drupal_download a:hover {
 text-decoration: underline;
}
.drupal_download a.drupal_download_drupal { 
 background: url(images/drupal-download.gif) no-repeat 0px 1px; 
}
.drupal_download .contributed {
 background: white;
 margin-left: -3px; margin-right: -3px;
 padding: 3px;
 padding-left: 5px;
 margin-bottom: 10px;
}
.drupal_download .contributed a {
 font-size: 1em;
 line-height: 24px; height: 24px;
}
.drupal_download a.drupal_download_beta { 
 background: url(images/ico-beta.png) no-repeat 1px 1px; 
}
.drupal_download a.drupal_download_module { 
 background: url(images/ico-mod-low.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_module:hover { 
 background: url(images/ico-mod.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_theme { 
 background: url(images/ico-the-low.png) no-repeat 0px 1px;
}
.drupal_download a.drupal_download_theme:hover { 
 background: url(images/ico-the.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_traduction { 
 background: url(images/ico-tra-low.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_traduction:hover { 
 background: url(images/ico-tra.png) no-repeat 0px 1px; 
}
/* pages et noeuds */
/* elements de la page */
h2.title {
 margin: 0;
 font-size: 1.7em;
 color: #666666;
 margin-top: 1em;
 margin-bottom: 0em;
 width: 70%;
}
/* elements des noeuds */
.submitted {
 color: #666;
}
.node .taxonomy { 
 float: right; 
}
.node .taxonomy a { 
 color: #507EA1; 
}
.node { 
 margin: 0; 
 margin-bottom: 1.5em; 
}
.node .title { 
 font-weight: bold !important; 
}
.node .title a { 
 color: black; 
 text-decoration: none; 
}
.node .title a:hover {
 text-decoration: underline;
}
.node .content {
}
.node .content p { 
 margin: 0.5em 0; 
 /* text-align: justify; */
}
code, tt, pre {
 background-color:#EDF1F3;
 font-family: "Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
 font-size:0.9em;
 padding:1px;
}
.node .links { 
 text-align: right;
 margin-top: 1em;
}
.book-navigation .menu {
  border-top: 1px solid #ccc;
}
.book-navigation .page-links {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
br.nodes { 
 height: 1px; 
 margin: 0; 
 padding: 0; 
}
.help {
 color: #666666;
 line-height: 1.3em;
 font-size: 0.9em;
 margin: 0.5em 1em;
}
.help p { 
 margin-top: 0em; 
 margin-bottom: 0.5em; 
}
.node .column-right {
 float: right;
 width: 200px;
}
.node .column-left {
 float: left;
 width: 350px;
}
 

/* commentaires */
.comment-left { 
 width: 100px; 
 float: left; 
 font-size: 11px; 
 padding: 0 10px; 
 margin-bottom: 1em;
}
.comment-right { 
 margin-left: 120px; 
 border-left: solid 1px #cccccc; 
 padding-left: 1em;  
}
.comment-left .author-name { 
 text-align: left; 
 font-weight: normal; 
 font-size: 1.2em; 
 margin-bottom: 10px; 
}
.comment-left .author-name a { 
 color: #666666; 
}
.comment .comment-left .picture { 
 border: none; margin-bottom: 10px; 
}
.comment .comment-left .picture img { 
 display: block; 
 margin-left: auto; 
 margin-right: auto;
}
.comment-right .title { 
 font-weight: none; 
 font-size: 1.2em; 
 margin: 5px 15px; 
}
.comment-right .post-date { 
 font-size: 0.8em; 
}
.comment-right .content { 
}
.comment-right .content a { 
 color: #507EA1; 
 font-weight: bold; 
 text-decoration: none; 
}
.comment-right .content a:hover { 
 color: #70eb34; 
}
.comment-right .content .links { 
 font-size: 0.8em; 
 padding-top: 0.5em; 
}
.comment { 
 margin-left: 0em; 
 margin-top: 0.5em;
}
.comment .right-box {
  float: right;
  margin-right: 1em;
}
.comment .new {
 color: #ff4040;
 font-weight: bold;
}
.comment .author-signature { 
 color: #666666; 
 font-size: 0.9em; 
 line-height: auto; 
}
/* stop indentation after 3 levels */
.indented .indented .indented {
  margin-left: 0;
}

/* gren box on front page */
#front-box {
 background-color: #BED6EB;
}
#front-box .w0 {

}
#front-box .w2 {
 background: url('images/front-box-tr.gif') no-repeat 100% 0%;
}
#front-box .w3 {

}
#front-box .w4 {
 background: url('images/front-box-bl.gif') no-repeat 0% 100%;
}
#front-box .content {
 padding: 10px 15px;
}
#front-box a {
 color: #5B6349;
}
#front-box h3 {
 margin-bottom: 0.25em;
}
#front-box ul {
 margin-top: 0;
}
#front-box .fbl1,#front-box .fbl3 { 
 float: left; width: 12em; 
}
#front-box td {
 vertical-align: top;
}
#front-box tbody {
 border: none;
}

.feeds {
 list-style: none;
 padding-left: 2em;
}
.feeds .feed-icon {
 margin-right : 1em;
}

/* affichage des noeuds en premiere page */
.front_node {
 margin-bottom: 1.5em;
}
.front_node h2 {
 font-size: 1em;
 margin: 0;
 margin-left: 4em;
 margin-bottom: 0.5em;
}
.front_node .date {
 float: left;
 width: 2.5em;
 border-right: solid 1px #ccc;
 margin-right: 0.5em;
 padding-right: 0.5em;
 color: #666666;
}
.front_node .day {
 display: block;
 text-align: right;
 font-size: 1.5em;
 line-height: 1em;
}
.front_node .month {
 display: block;
 font-size: 0.8em;
 text-align: right;
}
.front_node .content {
 margin: 0;
 margin-left: 4em;
 line-height: 1.2em;
}
.front_node .content p {
 margin: 0px;
 margin-bottom: 0.2em;
}
.front_node .hide { 
 display: none; 
}

/* tableaux */
table {
 border-collapse: collapse;
}
th {
 text-align: left;
 /* padding-right: 1em; */
 border-bottom: 3px solid #ccc;
 padding-bottom: 0.25em;
 font-size: 0.9em;
}
th a {
 text-decoration: none;
}
th a img {
 margin-left: 0.25em;
}
th.active img {
 display: inline;
}
tr.even, tr.odd {
 background-color: #eee;
 border-bottom: 1px solid #ccc;
}
tr.even, tr.odd {
 padding: 0.1em 0.6em;
}
td.active {
 background-color: #d8e3ed;
}
tr.even {
 background-color: #e4eef6;
}
tr.odd {
 background-color: #f1f8fd;
}

/* forums */
/* really not sure about this */
#forum {
 padding-bottom: 15px;
}
#forum .container .name {
 font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
 font-weight: bold;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
 font-size: 1.2em;
}
#forum .container a {
 color: #666666;
 text-decoration: none;
}
#forum .new {
 color: red;
}
#forum ul , #forum ul li {
 /* padding: 0;
 margin: 0;
 list-style: none;*/
}
#forum ul li {
 /* border-bottom: 1px #666666 dashed; */
 padding: 0 0 15px 15px;
}
#forum .forum0 {
 /* border-bottom: 1px #666666 dashed; */
}
#forum .forum0 .name {
 padding-top: 15px; 
 font-size: 1.1em;
}
#forum .forum1 { 
 margin-left: 1em; 
}
#forum .forum2 { 
 margin-left: 2em; 
}
.forum-topic-navigation {
 padding: 1em 0;
 border-top: none;
 border-bottom: none;
 text-align: right;
/* I just don t like forum navigation links */
 display: none;
}
.forum-topic-navigation a {
 font-weight: normal;
}
.forum-topic-navigation .topic-previous {
 margin: 0em;
 float: left;
}
.forum-topic-navigation .topic-next {
 text-align: right;
}
/* End of "really not sure about this" */
/* liste des sujets de forum*/
#forum td.icon {
 padding: 5px;
 vertical-align: top;
}
#forum td.topic .description {
 margin: 0;
 margin-top: 0.25em;
 color: #666;
 font-weight: normal;
}
#forum td.replies, #forum td.last-reply {
 font-size: 0.8em;
}
#forum td.replies a {
 color: red;
}
#forum td.active {
 background-color: transparent;
 font-weight: bold;
}
.forum-topic {
 clear: both;
}
.forum-topic img {
 float: left;
}
.forum-topic .title {
 margin-left: 25px;
}
#forum .forum-topic .description {
 margin-left: 25px;
 color: #666;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
 white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
 text-align: center;
}
#forum table { 
 width: 100%; 
}
#forum td { 
 padding: 0.25em; 
}
#forum td.container { 
 background-color: white; 
 padding-top: 0.25em; 
 padding-bottom: 0.25em; 
}
#forum td.container a { 
 color: #555; 
 font-weight: bold; 
 text-decoration: none; 
}
#forum td.statistics, #forum td.settings, #forum td.pager { 
 height: 1.5em; 
 border: 1px solid #bbb; 
}
#forum td .name { 
 color: #96c; 
}
#forum td .links { 
 padding-top: 0.7em; 
 font-size: 0.9em; 
}
#forum .description {
 margin: 0.5em 0;
}

/* admin-views */
.view-item-encours, .view-item-Moderation {
  border-bottom: 1px gray dotted;
}

.view-item-encours .view-data-node-title {
  text-decoration: underline;
}
.view-item-encours .view-data-node-type, .view-item-encours .view-data-node-changed, .view-item-encours .view-data-users-name {
  width : 150px; 
  float : left;
  text-decoration: underline;
}
.view-item-encours .view-data-node-edit {
  clear: both;
}
.view-item-encours .view-data-node-edit a {
  display: block;
  text-align: right;
}

.view-item-Moderation .view-data-node-title {
  text-decoration: underline;
}
.view-item-Moderation .view-data-node-type, .view-item-Moderation .view-data-node-changed, .view-item-Moderation .view-data-users-name {
  width : 150px; 
  float : left;
  text-decoration: underline;
}
.view-item-Moderation .view-data-node-edit {
  clear: both;
}
.view-item-Moderation .view-data-node-edit a {
  display: block;
  text-align: right;
}
.custom_profiles {
  float: left;
  display : block;
  width: 270px;
  height: 90px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #bbb;
}

.custom_profiles .picture {
  width: 88px;
  float: right;
  margin: 5px;
}
.custom_profiles .fields {
  width : 150px;
  float: left;
  margin: 5px;
}

/* Style des entrées de l'annuaire pro */
table.annuaire {
  width: 100%;
}
table.annuaire tbody{
  border: none;
}
table.annuaire th,
table.annuaire td {
  padding: 7px 4px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}
table.annuaire th {
  width: 33%;
  background-color: #EEEEEE;
}
table.annuaire tr.first th{
  text-align: center;
  vertical-align: middle;
}
table.annuaire tr.first th,
table.annuaire tr.first td{
  border: none;
  background-color: #fff;
}
table.annuaire td ul{
  margin: 0;
  padding: 0;
}
table.annuaire td ul li{
  margin-left: 15px;
}
.view-content-annuaire-prestataires table td,
.view-content-annuaire-prestataires table th{
  padding: 2px 4px;
}
.view-header-annuaire-prestataires {
  margin-bottom: 30px;
}
.view-content-annuaire-prestataires {
  margin-top: 30px;
}

#search-theme-form {
  float: right;
  margin: none;
  margin-top: -2px;
  padding-top: 1px;
}
#search-theme-form .form-item {
  margin: 0;
}
#search-theme-form .form-text {
  height: 16px;
  font-size: 12px;
  border: solid 1px #cccccc;
  margin: 0;
  padding: 0px 2px;
  padding-left: 16px;
  width: 150px;
  background: #ffffff url('images/search.png') no-repeat 2px 2px;
}
#search-theme-form .form-submit {
  display: none;
}

fieldset {
  background: #ffffff url('images/gradient-inner.png') repeat-x 0 0;
  border: 1px solid #dddddd;
  margin: 1em 0;
  padding: 0.5em;
}

html.js fieldset.collapsed {
  background:transparent none repeat scroll 0 0;
  padding-bottom: 0.6em;
  padding-top:0;
}

html.js fieldset.collapsible legend a {
  background: transparent url('images/menu-expanded.gif') no-repeat scroll 4px 50%;
  padding-left: 20px;
  padding-right: 4px;
}

html.js fieldset.collapsed legend a {
  background: transparent url('images/menu-collapsed.gif') no-repeat scroll 4px 50%;
  padding-left: 20px;
  padding-right: 4px;
}

