
.hide { display: none; }

body { 
 margin: 0;
 padding: 0;
 font: 85%/140% "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
 background-color: white;
}

a {
 color: #38678c;
 font-weight: bold;
 text-decoration: none;
}

a:hover {
 color: #91b4cf;
 text-decoration: underline;
}

h1, h2, h3, h4 {
 font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
 line-height: normal;
}

h1 {
 font-size: 1.5em; font-weight: bold;
}

h2 {
 font-size: 1.3em; font-weight: bold;
}

h3 {
 font-size: 1em; font-weight: bold;
}

h4 {
 font-size: 1em; font-weight: normal; font-style: italic;
}


#site-header {
 background: url(images/top_background.gif) repeat-x 0% 100%;
 margin-bottom: 0px;
}
#admin-menu-shadow {
 display: none;
}
#admin-menu li.admin-menu-shortcuts {
 display: none;
}
/* Because hidding the previous element reduces the height of the admin bar by 1px... */
#admin-menu {
 padding-bottom: 1px;
}
#site-subheader { 
 background: url(images/navigator_background.gif) repeat-x 0% 100%; 
 padding: 0px 10px; 
 line-height: normal;
}
#site-subheader-inner {
  background: url(images/navigator_background2.gif) no-repeat 10px 0%;
  padding-top: 2px;
  padding-bottom: 5px;
}
#breadcrumb .breadcrumb {
  padding-left: 75px;
  padding-bottom: 0;
  font-size: 0.9em;
  padding-top: 1px;
}
#site-name {
  display: none;
}

#logo img {
  display: block;
}

.node .meta {
  color: #999999;
  font-size: 0.8em;
}

.node .terms {
  float: right;
}

.node .terms ul.links li {
  padding: 0 0 0 1em;
}

.node-form #edit-taxonomy .form-item {
  float: left;
  margin-right: 2em;
}

.node-form .form-text {
  width: 754px;
}
.node-form .resizable-textarea {
  width: 758px;
}

/**
 * Form elements.
 */
.form-item label {
  margin-bottom: 2px;
}
input.form-text, input.tag-entry {
  border: solid 1px #ccc;
  padding: 2px;
}
.tag-entry {
  margin: 0;
}
html.js .resizable-textarea textarea {
  border: solid 1px #ccc;
}
fieldset .fieldset-wrapper {
  padding: 0 0.5em;
}


/**
 * Footer.
 */
#footer {
 background-color: #F6F6F2;
 padding: 20px 0;
 margin-top: 10px;
}
#footer hr {
  border: none;
  border-top: solid 1px #cccccc;
}
#footer-message {
 font-size: 0.85em; 
 color: #666666; 
 padding-bottom: 4px; 
 text-align: center;
}
#footer a { 
 color: #444444; 
 border-bottom: 
 solid 1px #cccccc; 
 text-decoration: none; 
}
#footer a:hover { 
 border-bottom: solid 1px #222222; 
 color: #222222;  
}
#footer p { 
 margin-top: 0; 
 margin-bottom: 0.5em; 
}

#footer-menu ul.secondary-menu {
  
}
#footer-menu ul.links li {
 display: block;
 margin: 0;
 padding: 0;
 padding-left: 20px;
 padding-right: 0.25em;
}
#footer-menu ul.links li.menu-10 {
 background: url('images/rss.gif') no-repeat 0% 50%;
}
#footer-menu ul.links a {
 text-decoration: none;
 font-size: 11px; 
}
#footer-menu ul.links a:hover { 
 text-decoration: underline; 
 color: white; 
}


/**
 * Status messages.
 */
.messages {
  padding: .5em 1em;
  margin: .75em 0 .75em;
  background-color: #fff;
  border: 1px solid #b8d3e5;
  padding: .5em 1em;
  margin: .75em 0 .75em;
}
.messages ul {
  margin: 0;
}
.messages ul {
  padding-left: 1em;
}

div.status {
  color: #3a3;
  border-color: #d9ebbf;
  padding: .5em 1em;
  margin: .75em 0 .75em;
}

div.error {
  color: #c52020;
  padding: .5em 1em;
  margin: .75em 0 .75em;
}

div.warning {
  padding: .5em 1em;
  margin: .75em 0 .75em;
}

/**
 * Primary and secondary links.
 */
#site-menu .main-menu {
 float: right;
 margin: 0;
 padding: 0;
 list-style: none;
 height: 40px; 
 border-left: solid 1px #A6CFED; 
 border-right: solid 1px #395A73; 
}
#site-menu .main-menu li { 
 float: left;
 margin: 0; 
 padding: 0; 
}
#site-menu .main-menu a { 
 float: left; 
 display: block; 
 font-weight: normal; 
 height: 40px; 
 line-height: 40px; 
 padding: 0 10px; 
 border: none; 
 border-left: 
 solid 1px #395A73; 
 border-right: 
 solid 1px #A6CFED; 
 font-family: Verdana; 
 color: #E6EEF4; 
 text-decoration: none; 
 font-size: 11px; 
}
#site-menu .main-menu a:hover { 
 background-color: #65A0CC; 
 text-decoration: underline; 
 color: white; 
}
#site-menu .main-menu a.active { 
 color: white; 
}


/**
 * Tabs.
 */
#tabs {
  margin-bottom: 1em;
}
#tabs ul.primary {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  height: 2em;
}
#tabs ul.primary li {
  border: none;
  padding: 0;
  margin: 0;
  float: left;
}
#tabs ul.primary li a {
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0em 0.75em;
  border: none;
  background-color: transparent;
  font-weight: normal;
  display: block;
  float: left;
}
#tabs ul.primary li.active a, #tabs ul.primary li a:hover {
  color: #ffffff;
  background-color: #91B4CF;
}
#tabs ul.secondary {
  border: none;
  background-color: #91B4CF;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  height: 2em;
}
#tabs ul.secondary li {
  border: none;
  padding: 0;
  margin: 0;
  float: left;
}
#tabs ul.secondary li a {
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0em 0.5em;
  border: none;
  color: #1A5A84;
  background-color: transparent;
  font-weight: normal;
  display: block;
  float: left;
}
#tabs ul.secondary li.active a, #tabs ul.secondary li a:hover {
  color: white;
  background-color: #1A5A84;
}

/**
 * Search form.
 */
#search-box .form-item {
  margin: 0;
}
#search-box label {
  display: none;
}
#search-box .form-text {
  height: 16px;
  font-size: 12px;
  border: solid 1px #cccccc;
  margin: 0;
  padding: 0px 2px;
  padding-left: 16px;
  width: 198px; /* 220px - 16px - 2px - 2 x 2px */
  background: #ffffff url('images/search.png') no-repeat 2px 2px;
}
#search-box .form-submit {
  display: none;
}

/**
 * Standard blocks.
 */
.block {
 margin: 0;
 margin-bottom: 1em;
}
.block .title {
 background-color: #507EA1;
}
.block .title .title-inner {
 background: url(images/block_title-r.gif) no-repeat 100% 0%;
}
.block .title h2 {
 background: url(images/block_title-l.gif) no-repeat 0% 0%;
 font-size: 11px;
 color: white;
 text-align: left;
 display: block;
 padding: 5px 5px;
 padding-left: 10px;
 font-weight: normal;
 margin: 0;
}
.block .content { 
 background: url(images/block_content-l.gif) no-repeat 0% 100%; 
 font-size: 11px;
}
.block ul {
 line-height: normal;
}
.block .title a { 
 color: white; 
 text-decoration: none; 
 display: block; 
 background: url(images/level_up.gif) 
 no-repeat 100% 50%; 
 margin-right: 6px; 
 padding-right: 10px;
}
.block .content { 
 background: url(images/block_content-l.gif) no-repeat 0% 100%; 
 background-color: #BED6EB;
 font-size: 11px; 
}
.block .content .content-inner { 
 background: url(images/block_content-r.gif) no-repeat 100% 100%; 
 padding: 2px 4px; 
 padding-bottom: 2px; 
}
.block .content a { 
 color: #666666; 
 text-decoration: none; 
}
.block .content a:hover { 
 color: #000000; 
 text-decoration: underline; 
}
#user-login-form .item-list {
  text-align: left;
  margin-top: 0.5em;
}

.help {
  color: #666666;
  font-size: 0.9em;
}


/**
 * Drupal 7 block
 */

#page #block-block-8,
#page #block-block-8 .content,
#page #block-block-8 .content .content-inner {
  background-image: none;
  background-color: white;
  text-align: center;
}

/**
 * Drupal download block.
 */
#block-block-3 .title .title-inner { 
 background: url(images/block_title_download-r.gif) no-repeat 100% 0%; 
}
#block-block-3 .title h2 { 
 background: url(images/block_title_download-l.gif) no-repeat 0% 0%; 
 padding-left: 25px; 
}
#block-block-3 { 
}
#block-block-3 .content { 
 background: url(images/block_content_download-l.gif) no-repeat 0% 100%; 
 background-color: #d9ebbf; 
}
#block-block-3 .content .content-inner { 
background: url(images/block_content_download-r.gif) no-repeat 100% 100%; 
}
.block .drupal_download, .drupal_download ul, .drupal_download li {
 list-style: none;
 padding: 0;
 margin: 0;
}
.drupal_download a {
 display: block;
 padding-left: 28px; line-height: 28px; height: 28px;
 font-family: Verdana, Arial; font-size: 1.15em; text-decoration: none;
 font-weight: bold;
 color: #2c5800 !important;
}
.drupal_download a:hover {
 text-decoration: underline;
}
.drupal_download a.drupal_download_drupal { 
 background: url(images/drupal-download.gif) no-repeat 0px 1px; 
}
.drupal_download .contributed {
 background: white;
 margin-left: -3px; margin-right: -3px;
 padding: 3px;
 padding-left: 5px;
 margin-bottom: 10px;
}
.drupal_download .contributed a {
 font-size: 1em;
 line-height: 24px; height: 24px;
}
.drupal_download a.drupal_download_beta { 
 background: url(images/ico-beta.png) no-repeat 1px 1px; 
}
.drupal_download a.drupal_download_module { 
 background: url(images/ico-mod-low.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_module:hover { 
 background: url(images/ico-mod.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_theme { 
 background: url(images/ico-the-low.png) no-repeat 0px 1px;
}
.drupal_download a.drupal_download_theme:hover { 
 background: url(images/ico-the.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_traduction { 
 background: url(images/ico-tra-low.png) no-repeat 0px 1px; 
}
.drupal_download a.drupal_download_traduction:hover { 
 background: url(images/ico-tra.png) no-repeat 0px 1px; 
}


/**
 * Drupal frontpage content block
 */
body.front #node-2895 {
  border: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #E6EAED;
  padding: 1px 15px;
}

#main-content .block .title h2 { padding: 10px 0; }
#block-views-drupalfr-block_1 {
  float: left;
  width: 65%;
}
#block-views-drupal_news-block_1 {
  float: right;
  width: 30%;
}
#block-views-drupal_news-block_1 .title, 
#block-views-drupalfr-block_1 .title, 
#block-views-drupal_news-block_1 .title .title-inner, 
#block-views-drupalfr-block_1 .title .title-inner, 
#block-views-drupal_news-block_1 .content-inner, 
#block-views-drupalfr-block_1 .content-inner { 
  background: none;
  padding: 0;
}
#block-views-drupal_news-block_1 .title h2, 
#block-views-drupalfr-block_1 .title h2 {
  background: none;
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}
#block-views-drupal_news-block_1 .content, 
#block-views-drupalfr-block_1 .content {
  background: none;
  font-size: 100%;
}

#block-views-drupal_news-block_1 .content h2 a, 
#block-views-drupalfr-block_1 .content h2 a {
 color: #38678C;
 font-weight: bold;
 text-decoration: none;
}

/**
 * Comments.
 */
.comment {
  background-color: #F6F6F2;
  padding: 3px 15px;
  padding-bottom: 5px;
}
.comment-left { 
 width: 100px; 
 float: left; 
 font-size: 11px; 
 padding: 0 10px; 
 margin-bottom: 1em;
}
.comment-right { 
}
.comment-left .author-name { 
 text-align: left; 
 font-weight: normal; 
 font-size: 1.2em; 
 margin-bottom: 10px; 
}
.comment-left .author-name a { 
 color: #666666; 
}
.comment .comment-left .picture { 
 border: none; margin-bottom: 10px; 
}
.comment .comment-left .picture img { 
 display: block; 
 margin-left: auto; 
 margin-right: auto;
}
.comment-right .title { 
 font-weight: none; 
 font-size: 1.2em; 
 margin: 5px 15px; 
}
.comment-right .content { 
}
.comment-right .content a { 
 color: #507EA1; 
 font-weight: bold; 
 text-decoration: none; 
}
.comment-right .content a:hover { 
 color: #70eb34; 
}
.comment-right .content .links { 
 font-size: 0.8em; 
 padding-top: 0.5em; 
}
.comment { 
 margin-left: 0em; 
 margin-top: 0.5em;
}
.comment .right-box {
  float: right;
  margin-left: 10px;
}
.comment .new {
 color: #ff4040;
 font-weight: bold;
}
.comment .author-signature { 
 color: #666666; 
 font-size: 0.9em; 
 line-height: auto; 
}
/* stop indentation after 3 levels */
.indented .indented .indented {
  margin-left: 0;
}

.comment .footer {
  font-size: 0.90em;
}
.comment .footer .user-badge {
}
.comment .footer .tools {
  float: right;
  width: 45%;
}

.comment-accepted {
  background-color: #E2F9D7;
}

/**
 * Main page typography
 */
ul {
  padding-left: 2em;
}

#main .book-navigation {
  margin-bottom: 1em;
}
#main .book-navigation ul {
  margin-left: 0;
}

#main .book-navigation .menu {
  padding: 1em;
  padding-left: 2em;
  margin: 0;
}
#main .book-navigation ul li {
  margin: 0;
}

ul.links li {
  padding: 0;
  padding-right: 0.5em;
}

/**
 * Form elmeents.
 */
fieldset {
  background: #ffffff url('images/gradient-inner.png') repeat-x 0 0;
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 0.5em;
}

html.js fieldset.collapsed {
  background:transparent none repeat scroll 0 0;
  padding-bottom: 0.6em;
  padding-top:0;
}

html.js fieldset.collapsible legend a {
  background: transparent url('images/menu-expanded.gif') no-repeat scroll 4px 50%;
  padding-left: 20px;
  padding-right: 4px;
}

html.js fieldset.collapsed legend a {
  background: transparent url('images/menu-collapsed.gif') no-repeat scroll 4px 50%;
  padding-left: 20px;
  padding-right: 4px;
}


/**
 * Professional listing.
 */
table.annuaire {
  width: 100%;
}
table.annuaire tbody{
  border: none;
}
table.annuaire th,
table.annuaire td {
  padding: 7px 4px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}
table.annuaire th {
  width: 33%;
  background-color: #EEEEEE;
}
table.annuaire tr.first th{
  text-align: center;
  vertical-align: middle;
}
table.annuaire tr.first th,
table.annuaire tr.first td{
  border: none;
  background-color: #fff;
}
table.annuaire td ul{
  margin: 0;
  padding: 0;
}
table.annuaire td ul li{
  margin-left: 15px;
}


/**
 * Pager
 */
.item-list .pager {
  margin: 1em 0;
  height: 2em;
}
.item-list .pager li {
  float: left;
  font-size: 12px;
  height: 1.8em;
  line-height: 1.8em;
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
}
.pager li.pager-item, .pager li.pager-current {
  border: solid 1px #cccccc;
  width: 1.8em;
  padding: 0;
}
.pager li.pager-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #cccccc;
}
.pager li.pager-item a:hover {
  text-decoration: none;
  color: #000000;
}
.pager li.pager-first, .pager li.pager-previous {
  margin-left: 0;
  margin-right: 0.75em;
}
.pager li.pager-next, .pager li.pager-last {
  margin-left: 0.75em;
}
.pager li.pager-current {
  border: none;
}


thead th {
  font-size: 0.9em;
}

table th, table td {
  padding: 0.25em;
}

tbody {
  border-top: none;
}

tr.even {
 background-color: #e4eef6;
}
tr.odd {
 background-color: #f1f8fd;
}

/**
 * Forum.
 */

/* Hide the links on the main forum page */
/*
body.page-forum #forum .links {
  display: none;
}
*/

/* Hide the table header on those pages too */
#forum table.forum-list thead {
  display: none;
}

#forum tr td.forum {
  background: url('images/forum-default.png') no-repeat 6px 6px;
  padding-left: 20px;
}

#forum {
 padding-bottom: 15px;
}
#forum .container .name {
 font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
 font-weight: bold;
 margin-top: 1em;
 margin-bottom: 0em;
 font-size: 1.2em;
}
#forum .container a {
 color: #666666;
 text-decoration: none;
}
#forum .new {
 color: red;
}
#forum .forum0 {
 /* border-bottom: 1px #666666 dashed; */
}
#forum .forum0 .name {
 padding-top: 15px; 
 font-size: 1.1em;
}
#forum .forum1 { 
 margin-left: 1em; 
}
#forum .forum2 { 
 margin-left: 2em; 
}
.forum-topic-navigation {
 padding: 1em 0;
 border-top: none;
 border-bottom: none;
 text-align: right;
/* I just don t like forum navigation links */
 display: none;
}
.forum-topic-navigation a {
 font-weight: normal;
}
.forum-topic-navigation .topic-previous {
 margin: 0em;
 float: left;
}
.forum-topic-navigation .topic-next {
 text-align: right;
}
/* End of "really not sure about this" */
/* liste des sujets de forum*/
#forum td.icon {
 padding: 5px;
 vertical-align: top;
}
#forum td.topic .description {
 margin: 0;
 margin-top: 0.25em;
 color: #666;
 font-weight: normal;
}
#forum td.replies, #forum td.last-reply {
 font-size: 0.8em;
}
#forum td.replies a {
 color: red;
}
#forum td.active {
 background-color: transparent;
 font-weight: bold;
}
.forum-topic {
 clear: both;
}
.forum-topic img {
 float: left;
}
.forum-topic .title {
 margin-left: 25px;
}
#forum .forum-topic .description {
 margin-left: 25px;
 color: #666;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
 white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
 text-align: center;
}
#forum table { 
 width: 100%; 
}
#forum td.container { 
 background-color: white; 
 padding-top: 0.25em; 
 padding-bottom: 0.25em; 
}
#forum td.container a { 
 color: #555; 
 font-weight: bold; 
 text-decoration: none; 
}
#forum td.statistics, #forum td.settings, #forum td.pager { 
 height: 1.5em; 
 border: 1px solid #bbb; 
}
#forum td .name { 
 color: #96c; 
}
#forum td .links { 
 padding-top: 0.7em; 
 font-size: 0.9em; 
}
#forum .description {
 margin: 0.25em 0;
 color: #666666;
}

/*
 * frontpage specific theming (node node-2895)
 */
/*
#node-2895 .content {
  padding: 0 10px;
  background-color:#BED6EB;
}
*/

#node-2895 #what {
  float: left;
  padding: 5px;
  width: 60%;
}


#node-2895 #who {
  float: right;
  padding: 5px;
  width: 30%;
}

#node-2895 ul {
  overflow: hidden;
  width: 45%;
}

#node-2895 ul li {
  float: left;
  width: 12em;
  margin: 0;
}

#front-box .w2 {
 background: url('images/front-box-tr.gif') no-repeat 100% 0%;
}
#front-box .w4 {
 background: #BED6EB url('images/front-box-bl.gif') no-repeat 0% 100%;
  padding: 0 10px;
}

/*** User badges **********************************************************/
.user-badge {
  line-height: 1.4em;
}
.user-badge img {
  margin-right: 10px;
  float: left;
  top: 0;
  left: 0;
}
.user-badge p.name {
  margin: 0;
  margin-left: 45px;
}
.user-badge p.points {
  margin: 0;
  margin-left: 45px;
  font-weight: bold;
  padding: 0;
  color: #666;
}
.user-badge a {
  border: none;
}
.user-badge a:hover, .user-badge a.active {
  text-decoration: none;
}

/*** User profiles **********************************************************/

.profile h3 {
  border: none;
  font-weight: normal;
  font-size: 1.2em;
  color: #555;
}
.profile .points h3 {
  display: none;
}
.profile .left-pane {
  text-align: center;
}
.profile .points dt, .profile .points dd {
  color: #888;
}
.profile .points dt {
  margin: 3px 0;
}
.profile .points dd {
  font-size: 40px;
  font-weight: bold;
  line-height: 90%;
}
.profile .picture {
  float: none;
}
.profile h3.content-profile-title {
  display: none;
}
div.content-profile-display {
  border: none;
  padding: 0;
}
div.content-profile-display .field {
  margin: 5px 0;
}
div.content-profile-display .field-label {
  width: 100px;
  float: left;
  font-weight: normal;
  color: #555;
}
div.content-profile-display .field-item {
  margin-left: 110px;
}

ul.links li.tweetbutton {
  position: relative;
  top: 5px;
}


/* Block Twitter */
div#block-drupalfr_specific-0 {
  margin-left: 510px;
  width: 250px;
}
div#block-drupalfr_specific-0 .title, 
div#block-drupalfr_specific-0 .title h2, 
div#block-drupalfr_specific-0 .title .title-inner, 
div#block-drupalfr_specific-0 .content,
div#block-drupalfr_specific-0 .content .content-inner{
  background: none;
}
div#block-drupalfr_specific-0 .title h2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
div#block-drupalfr_specific-0 .content ul {
  padding: 0 0 0.25em 0;
}

div#block-drupalfr_specific-0 .content ul li {
  list-style: none;
}
div#block-drupalfr_specific-0 div.tweets-pulled-listing div.tweet-divider {
  clear: none;
}
