
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin: 0.5em 0;
}


li {
  margin: 0.5em 0;
}

p {
  margin: 1em 0;
}

ul li {
  list-style-image: url('images/menu-leaf.gif');
  list-style-type: circle;
}

li p {
  margin: 0.25em 0;
}