{#
/**
 * @file
 * Theme implementation to display a Leaflet map.
 *
 * This creates a placeholder for the map to be injected in.
 *
 * Available variables:
 * - map_id
 * - height
 *
 * Note: min-width is set so that a map will show when "Inline" is specified
 * for the associated field label. This may of course be overridden. The default
 * field label style is "Above" with a width of 100%.
 *
 * @ingroup themeable
 *
 */
#}
<div class="medium-6 column float-right" data-equalizer-watch="map-local-group">
  <div class="map">
  <div id="{{ map_id }}"  style="width: 100%; {% if height is not empty %}height: 100%{% endif %}"></div>
  </div>
</div>
