<div class="homepage_discover">
  <h2 class="title">Découvrir Drupal<br>
    <small>Ce qu'il faut en savoir si vous n'avez que 30 secondes</small>
  </h2>
  <p class="subtitle medium-6 medium-offset-3 column">
    Drupal est un CMS (Content Management System) qui permet de construire
    des sites web de toute sorte puis d'administrer son contenu et sa forme par des contributeurs
  </p>
  <div class="row row-items">
    <div class="medium-4 item column">
      <div class="item-icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
      <h3 class="item-title">OPEN SOURCE</h3>
      <p class="item-text">
        Le code est accessible de tous, vous avez une maîtrise complète de votre site et vous en êtes
        propriétaire</p>
    </div>
    <div class="medium-4 item column">
      <div class="item-icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
      <h3 class="item-title">FLEXIBLE</h3>
      <p class="item-text">
        Vous avez la main sur le thème, l'interface de gestion, les types de contenu, la
        configuration, bref, vous avez un socle vous permettant de tout faire
      </p>
    </div>
    <div class="medium-4 item column">
      <div class="item-icon"><i class="fa fa-cloud-upload" aria-hidden="true"></i></div>
      <h3 class="item-title">COMMUNAUTAIRE</h3>
      <p class="item-text">
        Des milliers de modules gratuits développés par une communauté bénévole sont disponibles pour
        ajouter des fonctionnalités
      </p>
    </div>
  </div>
  <div class="row column row-cta">
    <a href="/decouvrir" class="button secondary hollow medium-4 medium-offset-4">
      Découvrir les fonctionnalités
    </a>
  </div>
</div>