// LAYOUT FOOTER
// =============

.l-footer {
  padding:          $global-padding*3 0 $global-padding;
  background-color: $drupal-blue-dark;
}

.bottom-bar {
  background-color: $drupal-blue-dark;
}
