// LAYOUT HEADER
// =============

.l-header {
  background-color: $drupal-blue-dark;
}

.l-main-menu-icon {
  height:      40px;
  line-height: 40px;

  @include breakpoint(medium only) {
    height:      70px;
    padding:     .85rem 1rem;
    line-height: 40px;
  }
}

.l-main-menu-extra {
  @include breakpoint(small only) {
    display:        flex;
    flex-direction: row-reverse;
    padding-right:  0;
  }
}
